.add-button {
  margin-top: 10px;
  /*width: 100% !important;*/
}

button.btn.btn-add {
  width: 100%;
}

span {
  font-size: 18px;
}

.fa-ban {
  color: #858585;
  font-size: 24px;
  opacity: .5;
}

.fa-pencil-square-o {
  color: #242424;
}

.add {
  color: rgb(4, 68, 94);
  font-size: 18px;
  text-decoration: underline
}