<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="uk-card uk-card-default" [hidden]="toggleLoading">

  <div class="row">
    <div class="col-md-3 pull-left list">
      Contracts
    </div>

    <div class="col-md-3 pull-right create" (click)="openAddContractModal()" pTooltip="Add new contract">
      <i class="fa fa-plus-circle"></i> Add new contract
    </div>
  </div>

  <hr>

  <app-contract-table (emitAllData)="getCustomerContracts($event)" [page]="page" [contracts]="contracts">
  </app-contract-table>

</div>