<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form [formGroup]="userForm">

  <div class="modal-body">

    <div class="row">

      <div class="form-group col-md-6">
        <label>First Name :</label>
        <span class="asterisk_input"> </span>
        <input type="text" class="form-control" placeholder="First Name..." formControlName="firstName">

        <app-field-error-display [displayError]="isFieldValid('firstName',userForm)" errorMsg="First name is required">
        </app-field-error-display>
      </div>

      <div class="form-group col-md-6">
        <label>Middle Name :</label>
        <span class="asterisk_input"> </span>
        <input type="text" class="form-control" placeholder="Middle Name ..." formControlName="middleName">

        <app-field-error-display [displayError]="isFieldValid('middleName',userForm)"
          errorMsg="Middle name is required">
        </app-field-error-display>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-6">
        <label>Last Name :</label>
        <span class="asterisk_input"> </span>
        <input type="text" class="form-control" placeholder="Last Name..." formControlName="lastName">

        <app-field-error-display [displayError]="isFieldValid('lastName',userForm)" errorMsg="Last name is required">
        </app-field-error-display>
      </div>

      <div class="form-group col-md-6">
        <label>Phone :</label>
        <span class="asterisk_input"> </span>
        <input type="text" class="form-control" placeholder="Please type value..." formControlName="phoneNumber"
          minlength="8" maxlength="8" (keydown.space)="$event.preventDefault()">

        <app-field-error-display [displayError]="isFieldValid('phoneNumber',userForm)"
          errorMsg="Phone number is required only 8 numbers length">
        </app-field-error-display>
      </div>
    </div>


    <!--
      minlength="8" maxlength="8" pattern="[0-9]*"
    -->

    <div class="row">
      <div class="form-group col-md-6">
        <label>User Name:</label>
        <span class="asterisk_input"> </span>
        <input type="text" class="form-control" placeholder="User Name..." formControlName="userName"
          (keydown.space)="$event.preventDefault()" name="userName" autocomplete="off" (keypress)="alpha($event)">

        <app-field-error-display [displayError]="isFieldValid('userName',userForm)" errorMsg="Username is required">
        </app-field-error-display>
      </div>



      <div class="form-group col-md-6">
        <label>Email :</label>
        <input type="email" class="form-control" placeholder="email..." formControlName="email" name="email">

        <app-field-error-display [displayError]="isFieldValid('email',userForm)" errorMsg="Enter valid email">
        </app-field-error-display>
      </div>
    </div>


    <div class="row">
      <div class="form-group  col-md-12" *ngIf="data['type'] == 'add'">
        <label>Password :</label>
        <span class="asterisk_input"> </span>
        <input type="password" class="form-control" placeholder="Password..." formControlName="password"
          autocomplete="off" (keydown.space)="$event.preventDefault()"/>

        <app-field-error-display [displayError]="isFieldValid('password',userForm)" errorMsg="At least 1 special character (!,@, $,
        %,^,&,_,*) , 1 Capital letter,1 small letter and 1 number also at least 6 length">
        </app-field-error-display>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label>User Role</label>
        <span class="asterisk_input"> </span>
        <select class="form-control" (change)="UserRoleChanged($event)" formControlName="roleNames">
          <option [value]="undefined" *ngIf="!data.roleNames?.length">-- Choose User Role --</option>
          <option [value]="role?.name" *ngFor="let role of roles">{{role.name}}</option>
        </select>

        <app-field-error-display [displayError]="isFieldValid('roleNames',userForm)" errorMsg="User role is required">
        </app-field-error-display>

      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12" *ngIf="isTechnician" [hidden]="data['type'] === 'edit'">
        <label>Assign to :</label>
        <select class="form-control" formControlName="selectedDispatureid">
          <option [value]="undefined" *ngIf="!selectedDispatureid?.length">-- Choose Dispature --</option>
          <option [value]="disp?.id" *ngFor="let disp of allDispatchers">{{disp.firstName}} {{disp.middleName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-12 text-right">
        <button class="btn btn-primary" type="button" (click)="emitData()">Save</button>
      </div>
    </div>

  </div>

</form>