<div class="row">
  <div class="col-md-6">
    <div class="text-left">
      <h3 class="page-title">Customers</h3>
    </div>
  </div>

  <div class="col-md-6">
    <div class="text-right" class="new-btn" *ngIf="!isAdmin">
      <a [routerLink]="['/search/new-customer']">
        <i class="fa fa-user-plus"></i> Add new customer
      </a>
    </div>
  </div>
</div>

<app-search [hideFromTo]="false" (searchCanceled)="_getCustomersAllCustomers()" [hideDate]="hideDate"
  [hidden]="toggleLoading" [placholder]="'Search by Customer, CID or phone'" (searchValue)="searchByValue($event)">
</app-search>

<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>


<div class="container-fluid no-padding" *ngIf="!toggleLoading">

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-11">
      </div>
      <div class="col-md-1">
        <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
          <i class="fa fa-download"></i>
        </button>
<!-- 
        <button class="btn btn-dark export" (click)="printCustomers()" pTooltip="Print">
            <i class="fa fa-print"></i>
          </button> -->

      </div>

      <div class="col-md-12">
        <ngx-datatable [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true"
          (page)='setPage($event)' [count]=" totalElements?totalElements:0" class="material expandable"
          [rows]="filteredCustomers" [columnMode]="'force'" [columns]="[]" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'50'" [scrollbarH]="true" id="content">

          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="name" name="Name"></ngx-datatable-column>
          <ngx-datatable-column *ngIf="!roles.includes('Maintenance')" [width]='90' prop="civilId" name="CID">
          </ngx-datatable-column>

          <!--<ngx-datatable-column [width]='120' prop="name" name="Type"></ngx-datatable-column>-->

          <ngx-datatable-column [width]='120' prop="customerPhoneBook" name="Phone">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <span style="margin-left: 2px" *ngFor="let phone of row.customerPhoneBook; let i =index">
                {{phone?.phone}}<span *ngIf="i+1 < row.customerPhoneBook.length">,</span>
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='400' prop="locations" name="Address">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <p *ngFor="let location of row.locations; let i = index" class="cut" title="{{location.block}} {{location.street}},{{location.area}},{{location.governorate}}">
                {{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span
                  *ngIf="i+1 < row.locations">,</span>
              </p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='50' prop="id" name="Actions">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <button class="btn btn-dark" [routerLink]="['./customerDetails']" pTooltip="Details"
                [queryParams]="{customerId : row.id}" (click)="shareCustomerObject(row)" *ngIf="!isAdmin">
                <i class="fa fa-info-circle"></i>
              </button>

              <i class="fa fa-trash" (click)="deleteCustomer(row)" pTooltip="Delete" *ngIf="isAdmin"></i>

            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>

  </div>

</div>