.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px;
    color: #242424 !important;
    width: 50%;
    background: none !important;
    border: none !important;
}

.content {
    padding: 32px;
}

.uk-card {
    padding-top: 0px;
}

.new-btn {
    padding-top: 10px;
    float: right;
    font-size: 18px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

i {
    font-size: 18px;
    cursor: pointer;
}

.cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
  }