<div class="row">
    <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)" [placeholder]="'Search in customers, At least 5 chars'"
        (onSelect)="select($event)" field="name" [minLength]="5" class="col-md-12" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%','border':'1px solid #242424','border-radius': '0px'}" (onClear)="clear()"></p-autoComplete>

    <small *ngIf="show" class="text-center col-md-12 error">
        {{msg}}
    </small>
</div>