.ui-autocomplete .ui-autocomplete-input {
   width: 150em;
}

.text{
    padding-top: 5px;
    font-weight: 600;
    font-size: 15px;
}

.error{
    padding: .5em;
    color: rgb(204, 8, 8);
    font-size: 15px;
}

.warn{
    font-weight: 200;
    font-size: 14px;
}