button.ui-spinner-button.ui-spinner-up.ui-corner-tr.ui-button.ui-widget.ui-state-default {
  visibility: hidden !important;
}

.msg {
  padding-left: 35px;
  padding-right: 25px;
}

.add {
  font-size: 24px;
  padding-left: 30px;
  cursor: pointer;
}