<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">Contracts</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container">
  <app-search (searchCanceled)="getAllContracts($event)" [placholder]="'Search by contract number or customer name'"
    (searchValue)="searchContract($event)"></app-search>

  <div class="uk-card uk-card-default uk-animation-slide-top-small">
    <!--<div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages [(value)]="bigMessage"></p-messages>
      </div>
    </div>-->
    <div class="row" *ngIf="!isAdmin">
      <div class="col-md-11">
        <b style="padding-left: 5px">To View All Contracts That Will Expire Within One Month!. <a
            (click)="openContractsAlmostDone()"> Click
            here </a>
        </b>
      </div>
      <div class="col-md-1 add" (click)="openAddContractModal()" pTooltip="Add new contract">
        <i class="fa fa-plus-circle"></i>
      </div>
    </div>

    <app-contract-table (print)="printContracts()" (emitSearchedData)="searchByValue($event)" [page]="page"
      (emitAllData)="getAllContracts($event)" [contracts]="allContracts"></app-contract-table>

  </div>
</div>



<!--<table style="position: absolute; z-index: -1000;" border="1" cellpadding="3" id="contract-table">
  <tbody>
  <tr>
    <th>Contract Number</th>
    <th>Contract Type</th>
    <th>Customer Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Price</th>
    <th>Remarks</th>
  </tr>
  <tr *ngFor="let row of allContracts">
    <td>{{row?.contractNumber}}</td>
    <td>{{row?.contractType.name}}</td>
    <td>{{row?.customer.name}}</td>
    <td>{{row?.startDate}}</td>
    <td>{{row?.endDate}}</td>
    <td>{{row?.price}}</td>
    <td>{{row?.remarks}}</td>
  </tr>
  </tbody>
</table>-->