<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 widget">
        Copyright {{ currentYear }} © Amanah Teknologia. All rights reserved.
      </div>
    </div>
  </div>
</div>