@import "../../../assets/stylesheets/color-theme";

.notification-transparent-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 99;
}

.container-fluid{
padding-bottom: 0px !important;
}

.hide-notification-transparent-background {
  visibility: hidden;
}

.show-notification-transparent-background {
  visibility: visible;
}

.hide-notification-icon {
  opacity: 0;
  transition: all 0.5s;
}

.show-notification-icon {
  opacity: 1;
  transition: all 0.5s;
}

.logoIcon {
  height: 79px;
  width: auto;
  padding: 0px 12px;
}

.loginBtn, .loginBtn:active {
  width: 100px;
  float: left;
  margin: 10px;
  background-color: rgba(18, 120, 255, 0.91);
  color: white;
  font-weight: bold;
  outline: none;
}

.notification-section {
  display: inline;
  position: relative;
  z-index: 100;
  .notification-btn {
    background: none;
    border: none;
    margin-left: 10px;
    .bell {
      font-size: 1.6em;
      color: $accentColor;
      cursor: pointer;
    }
    .dot {
      position: absolute;
      right: 0;
      top: -5px;
      font-size: 0.5em;
      color: red;
    }
  }
  .notification-body {
    position: absolute;
    right: -10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    box-shadow: 0px 0px 8px lightgray;
    width: 250px;
    max-height: 250px;
    overflow-y: scroll;
    .notification {
      //color: $accentColor;
      cursor: pointer;
      transition: 0.5s all;
      border-bottom: 1px solid $borderColor;
      &:hover {
        color: $accentColor;
        transition: 0.5s all;
      }
    }
  }
}

li.ListItem {
  padding: 5px;
}

.whiteBackground {
  background-color: white;
}

li.ListItem:hover {
  background: #e2e2e2;

}

li.ListItem a {
  color: #02466b;
  font-weight: bold;

}

.RightPart {
  float: right;
  margin: 10px;
  margin-right: 40px;
}

.NewUser {
  padding: 16px 10px;
  float: right;
}

.navbar {
  margin-bottom: 0px !important;
}

.AfterLogin {
  display: inline-block;
  float: left;
  margin: 0px 23px;
  text-align: right;
  color: rgba(18, 120, 255, 0.91);
}

.AfterLogin .nameLogged {
  color: #6a5a5a;
  font-size: 14px;
}

.LogOut {
  cursor: pointer;
}

.navbar.whiteBackground {
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15)
}
