<div class="row">
  <div class="col-md-11">
  </div>
  <div class="col-md-1 uk-text-right">
    <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
      <i class="fa fa-download"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ngx-datatable  [offset]="page.pageNumber"
        [limit]="page.pageSize"  [externalPaging]="true"
        (page)='setPage($event)' [count]="page.totalElements? page.totalElements:0" class="material expandable" [rows]="contracts" [rowClass]="getRowClass"
      [columnMode]="'force'" [columns]="[]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'"
      [scrollbarH]="true"  [selected]="[]">
      
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column [width]='150' prop="customer.name" name="Customer Name"></ngx-datatable-column>
      <ngx-datatable-column [width]='150' prop="contractType.name" name="Contract type"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="contractNumber" name="Contract Number"></ngx-datatable-column>



      <!--<ngx-datatable-column [width]='90' prop="startDate" name="start date"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='90' prop="endDate" name="End date"></ngx-datatable-column>

      <ngx-datatable-column [width]='70' prop="price" name="Value"></ngx-datatable-column>

      <!--<ngx-datatable-column [width]='100' prop="remarks" name="Remarks"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='100' prop="" name="Attachements">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <a style="display: inline" target="_blank" *ngFor="let u of row.contractFiles"
            [href]="u.url">{{u.fileName}},</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="" name="Estimation Reference">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <a style="display: inline; font-weight: bold;"
            (click)="routeToEstimation(row?.contractQuotations[0]?.quotation?.estimation?.id)">{{row?.contractQuotations[0]?.quotation?.estimation?.refNumber}}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='150' prop="id" name="Contract">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <span ptooltip="Remove" (click)="removeContract(row.id)">
              <i class="fa fa-trash"></i>
            </span>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>
