.delete {
    color: white;
    background-color: rgb(163, 0, 0);
    border: none;
}

.content {
    padding-left: 35px;
    padding-right: 35px;
}

.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px;
    color: #242424 !important;
    width: 50%;
    background: none !important;
    border: none !important;
}

.fa-trash {
    font-size: 18px;
    color: #242424;
    cursor: pointer;
}