label {
  color: #282e28;
}

.star, .err {
  color: #c82020;
}

.fa-trash {
  font-size: 24px;
  color: #242424;
  cursor: pointer;
  padding-left: 15px;
}

.page-title {
  padding-left: 0px !important;
}