<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<form #newCustomerForm="ngForm" (ngSubmit)="newCustomerForm.valid &&  postNewCustomer()" [ngStyle]="setMargin()">

  <h3 class="page-title" *ngIf="urlSegment == 'new-customer'">Add new customer</h3>

  <div ngModelGroup="customerInfo">

    <div class="row">

      <div class="form-group col-md-6 col-xs-12">
        <label>Name :<span class="star">*</span></label>
        <input class="form-control col-md-6" type="text" [(ngModel)]="newCustomer.name" name="name"
          placeholder="Customer Name" #name="ngModel" minlength="3" required>
        <span class="err" *ngIf="newCustomerForm.submitted && name.invalid">
          <div *ngIf="name.errors.required"> <i class="fa fa-exclamation-triangle"></i>Name is required</div>
          <div *ngIf="name.errors.minlength">
            <i class="fa fa-exclamation-triangle"></i>Enter at least (3) chars
          </div>
        </span>

      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label>CID :<span class="star">*</span></label>

        <input type="text" placeholder="Ex( 156579994444 )" [(ngModel)]="newCustomer.civilId" class="form-control"
          id="civilId" name="civilId" #civilId="ngModel" required minlength="12" maxlength="12" pattern="[0-9]*">
        <span class="err" *ngIf="((newCustomerForm.submitted || civilId.dirty || civilId.touched) && civilId.invalid) ">
          <div *ngIf="civilId.errors.required"> <i class="fa fa-exclamation-triangle"></i>CID is required</div>
          <div *ngIf="civilId.errors.pattern"> <i class="fa fa-exclamation-triangle"></i>Must be numbers only</div>
          <div *ngIf="civilId.errors.minlength || civilId.errors.maxlength ">
            <i class="fa fa-exclamation-triangle"></i>Must be 12 number
          </div>
        </span>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label>Customer Type :<span class="star">*</span> </label>
        <select name="fK_CustomerType_Id" class="form-control" [(ngModel)]="newCustomer.fK_CustomerType_Id"
          #customerType="ngModel" [required]="newCustomer.fK_CustomerType_Id != 0">
          <!--<option [value]="0">-- Select Type --</option>-->
          <option *ngFor="let type of customerTypes" [value]="type.id">{{type.name}}</option>
        </select>

        <span class="err"
          *ngIf="( newCustomerForm.submitted   || customerType.dirty || customerType.touched) && customerType.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </span>
      </div>
      <div class="form-group col-md-6 col-xs-12">
        <label>Machine Type :<span class="star">*</span></label>
        <select name="fK_MachineType_Id" class="form-control" [(ngModel)]="newCustomer.fK_MachineType_Id" required>
          <!--<option [value]="undefined">-- Select Type --</option>-->
          <option *ngFor="let type of machineTypes" [value]="type.id">{{type.name}}</option>
        </select>
        <span class="err"
          *ngIf="( newCustomerForm.submitted   || newCustomerForm.controls?.customerInfo?.controls?.fK_MachineType_Id?.dirty || newCustomerForm.controls?.customerInfo?.controls?.fK_MachineType_Id?.touched) && newCustomerForm.controls?.customerInfo?.controls?.fK_MachineType_Id?.invalid">
          <i class="fa fa-exclamation-triangle"></i>This field is required
        </span>
      </div>
    </div>

    <div class="uk-margin-small-top row">
      <div *ngFor="let phone of newCustomer.customerPhoneBook; let i = index">
        <div class="row" style="padding-left: 15px;padding-right: 15px">
          <div class="form-group col-md-6 col-xs-12">
            <label>Phone Type :<span class="star">*</span></label>
            <select [name]="'fK_PhoneType_Id' + i" required class="form-control" [(ngModel)]="phone.fK_PhoneType_Id">
              <!--<option [value]="undefined">-- Select Phone Type --</option>-->
              <option *ngFor="let phoneType of phoneTypes" [value]="phoneType.id">{{phoneType.name}}</option>
            </select>
            <span class="err"
              *ngIf="( newCustomerForm.submitted   || newCustomerForm.dirty || newCustomerForm.touched)   && newCustomerForm.controls?.customerInfo?.controls['fK_PhoneType_Id' + i]?.invalid">
              <i class="fa fa-exclamation-triangle"></i>This field is required
            </span>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Phone Number :<span class="star">*</span></label>
            <input type="text" placeholder="Phone Number" [name]="'phone' + i" class="form-control"
                   [(ngModel)]="phone.phone" required minlength="8" maxlength="8" pattern="[0-9]*" (ngModelChange)="PhoneChanged(phone)">

            <div class="err" *ngIf="phone.isExist">
              <i class="fa fa-exclamation-triangle"></i>This Number  Exist Add Another Phone Number.
            </div>
            <span class="err"
                  *ngIf="((newCustomerForm.submitted ||  newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.dirty ||  newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.touched) &&  newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.invalid)">
              <div *ngIf=" newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.errors.required">
                <i class="fa fa-exclamation-triangle"></i>Phone is required
              </div>
              <div *ngIf=" newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.errors.pattern">
                <i class="fa fa-exclamation-triangle"></i>Must be numbers only
              </div>
              <div *ngIf=" newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.errors.minlength ||  newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.errors.maxlength ">
                <i class="fa fa-exclamation-triangle"></i>Must be 8 number
              </div>
              <div *ngIf="phone.isExist">
                <i class="fa fa-exclamation-triangle"></i>This Number  Exist Add Another Phone Number.
              </div>

            </span>

            <a *ngIf="i > 0" style="display:block;text-align: right" (click)="removePhone(i)">
              <i class="fa fa-close"></i>Remove
            </a>

          </div>
        </div>
      </div>


      <div class="col-md-6 uk-margin-small-bottom">
        <a (click)="addNewPhone()">Add New Phone</a>
      </div>

      <div class="form-group uk-margin-small-top col-xs-12">
        <label>Remark</label>
        <textarea class="form-control" placeholder="Some Descriptions..." [(ngModel)]="newCustomer.remarks"
          name="remarks"></textarea>
      </div>
    </div>
  </div>

  <!--<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoadingLocation"></p-progressSpinner>-->

  <ul uk-accordion="collapsible: true" class="accordion-header uk-margin-small-top" [hidden]="toggleLoadingLocation">
    <li *ngFor="let location of newCustomer.locations; let i = index" [ngModelGroup]="'location' + i"
      (click)="onClickTab(location)">


      <h4 class="uk-accordion-title sub-title" href="#">
         ({{ location.title ? location.title: 'Address ' + (i+1)  }})

        <span *ngIf="newCustomer.locations.length > 1 || i-1 > 0" (click)="removeLocation(i)" class="pull-right"
              pTooltip="Remove">
          <i class="fa fa-trash"></i>
        </span>

        <span *ngIf="!location.isValid && newCustomerForm.submitted" class="star">( Invalid Address )</span>
      </h4>


      <div class="uk-accordion-content">
        <app-customer-address [isSubmitted]="!location.isValid" [addresstoggleLoading]="location.toggleLoading"
          [paciStatus]="paciStatus" [location]="location" [governorates]="governorates"
          [convertIntoTextInputs]="convertIntoTextInputs" [viewValidation]="viewValidation"
          (governorateChanged)="getAreas(location)" (areaChanged)="getBlocks(location)"
          (blockChanged)="getStreets(location)" (locationChanged)="onLocationChange(location)"
          [fetchPreviousData]="fetchPreviousData">
        </app-customer-address>
      </div>


      <!--<div class="uk-accordion-content">-->

      <!--<pre>{{location | json}}</pre>-->
    </li>
  </ul>

  <div class="row uk-margin-bottom" *ngIf="existedCustomerData">
    <div class="col-md-4">
      <a (click)="addNewLocation()">
        Add New Location
      </a>
    </div>
  </div>


  <div style="float: right">

    <button class="btn btn-dark" type="submit" [disabled]="isSaving">Save Customer Data</button>

  </div>
  <button class="btn btn-default" *ngIf="!existedCustomerData && !isNewCustomer" (click)="closeForm()"
    type="button">Close</button>
  <div>
  </div>
</form>
