<div>
  <h4 class="head">{{header}}</h4>
</div>
<!-- <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner> -->

<p-toast></p-toast>

<form *ngIf="!toggleLoading" [formGroup]="changePasswordForm">
  <div class="modal-body">
    <div class="form-group">
      <label>New Password :</label>
      <input type="password" class="form-control" placeholder="Enter new password" formControlName="password">

      <app-field-error-display [displayError]="isFieldValid('password',changePasswordForm)" errorMsg="At least 1 special character (!,@, $,
      %,^,&,_,*) , 1 Capital letter, 1 small letter and 1 number also at least 6 length">
      </app-field-error-display>
    </div>

    <div class="form-group">
      <label>Confirm Password :</label>
      <input type="password" class="form-control" placeholder="Confirmed password"
        formControlName="confirmedPassword" (change)="onChange($event)">

      <div *ngIf="doesNotMatch" class="err">
        Passwords do not match
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="button" (click)="saveUserPassword()">Save</button>
  </div>
</form>