<!--<div class="set-time-container">-->
<!--<ngb-timepicker [spinners]="false" [(ngModel)]="time" [meridian]="true"></ngb-timepicker>-->

<!--</div>-->

<p-growl [(value)]="cornerMessage"></p-growl>

<div>
  <div class="modal-header">
    <h4 class="modal-title">Set Preferred Visit Time</h4>
  </div>

  <form #setTimeForm="ngForm" (ngSubmit)="setTimeForm.valid && setTime(setTimeForm.value)">
    <div class="modal-body">
      <div class="form-group" class="cal-section">
        <p-calendar [defaultDate]="defaultDate" [inline]="true" [(ngModel)]="order.preferedVisitTime" [minDate]="minDate"  hourFormat="12"
          name="day" [showTime]="true" [showIcon]="true" [required]="true" [style]="{'width':'850px'}">
          <ng-template pTemplate="date" let-date>
            <span
              [ngStyle]="{backgroundColor: (date.month < dateToShowOnCal.month && date.day == dateToShowOnCal.day && date.year == dateToShowOnCal.year) ? '#7cc67c' : 'inherit'}"
              style="border-radius:100%">{{date.day}}</span>
          </ng-template>
        </p-calendar>

        <em style="display: block" *ngIf="setTimeForm.submitted && setTimeForm?.controls?.day?.invalid"><i
            class="fa fa-exclamation-triangle"></i>Please select visit time</em>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col-md-8">
          <button type="submit" class="btn btn-dark">Set Visit Time</button>
        </div>

        <div class="col-md-3">
          <button type="button" (click)="close()" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </form>

</div>