/* line 4, set-time-modal.component.scss */

.modal-body .ui-calendar {
  display: block;
  margin: 0 auto;
}

/* line 11, set-time-modal.component.scss */

.modal-footer button {
  height: 40px;
}

.sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui-datepicker {
  width: 800px !important
}

.ui-calendar{
  width: 800px !important
}