<nav class="navbar navbar-default whiteBackground">
  <div class="container-fluid header">
    <div class="navbar-header">
      <a (click)="home()" title="Home">
        <img class="logoIcon" [src]="image" />
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li class="ListItem"><a (click)="home()">Home </a></li>
      <li class="ListItem"><a [href]="aboutus" target="_blank">About us</a></li>
    </ul>

    <div class="RightPart" *ngIf="authenticationService.isLoggedIn()">
      <!-- <div class="notification-section">
        <button class="notification-btn" [ngClass]="toggelingNotificationIconClass" (click)="toggleNotificationBody()">
          <i class="fa fa-bell-o bell"></i><i class="fa fa-circle dot" [hidden]="!newNotificationToggle"></i></button>
        <div [hidden]="!toggleNotification" class="notification-body uk-padding-small uk-animation-slide-top-small">
          <div *ngFor="let notification of notifications" (click)="routeToNotification(notification)">

            <p class="notification uk-padding-small uk-margin-remove
" *ngIf="notification.type == 'quotation'"><i class="fa fa-usd"></i>New Quotation created! <br>
              reference Number :
              <strong>({{notification?.refNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" *ngIf="notification.type == 'call'"><i
                class="fa fa-phone"></i> New Call created! <br>
              Caller Number :
              <strong>({{notification?.callerNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" [hidden]="notification.type != 'order'"><i
                class="fa fa fa-briefcase"></i> New/Updated Order !<br> code :
              <strong>({{notification?.code}})</strong></p>

          </div>
          <p [hidden]="notifications.length">No notifications available</p>
        </div>
      </div> -->

      <div class="AfterLogin">
        <span class="nameLogged">Welcome , {{authenticationService.CurrentUser().userName}} </span>
        <br />
        <span class="logout" (click)="logout()">
          Logout
          <i class="fa fa-sign-out"></i>
        </span>
      </div>

      <!-- <span class="user">
        <i class="fa fa-user"></i>
      </span> -->
    </div>

  </div>
</nav>