<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<ngx-datatable class="material expandable" [rows]="estimations" [columnMode]="'force'" [columns]="[]"
  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10" [selected]="[]"
>
  <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
    [headerCheckboxable]="false" [checkboxable]="false">
  </ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="customerName" name="Customer Name"></ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="refNumber" name="Reference No"></ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="customerMobile" name="Customer Mobile"></ngx-datatable-column>

  <ngx-datatable-column [width]='120' prop="area" name="Area"></ngx-datatable-column>

  <ngx-datatable-column [width]='100' prop="id" name="Quotation">
    <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
      <button class="btn btn-light" *ngIf="!row.hasQuotation" (click)="routeToEstimationDetails(row)"
        pTooltip="Generate">
        <i class="fa fa-plus-square"></i>
      </button>

      <p *ngIf="row.hasQuotation"><strong>Generated
          <i class="fa fa-check-circle"></i>
        </strong></p>

    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]='60' prop="id" name="Actions">
    <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
      <button class="btn btn-light" (click)="editEstimation(row)" pTooltip="Edit">
        <i class="fa fa-pencil-square-o"></i>
      </button>

      <button class="btn btn-light" (click)="removeEstimation(row.id)" pTooltip="Remove">
        <i class="fa fa-trash"></i>
      </button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>