
<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<div class="row">
    <!--<div class="col-xs-12 title">
        <h4 class="mpt-0">
            <i class="AddUsericon glyphicon glyphicon-plus"></i>
            <span class="AlignSup">Add new Customer</span>
        </h4>
    </div>-->

  <h3 class="page-title">Convert caller to customer </h3>

    <app-add-edit-customer [existedCustomerData]="existedCustomerData" [addressFromCaller]="true"></app-add-edit-customer>
</div>
