<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<section [hidden]="toggleLoading">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 img-content">
        <br><br>
        <div class="image-upload text-center">
          <label for="file-input">
            <img [src]="imageSrc" />
          </label>
          <input id="file-input" type="file" name="imageUrl" type="file" accept="image/*"
            (change)="onChangeFile($event)" formControlName="image" />
          <h4>*Click on image to change it</h4>
          <h5>*Prefered 240px & 70px</h5>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label for="aboutus">About us url:</label>
            <input type="url" name="aboutus" class="form-control" formControlName="aboutus">
            <app-field-error-display [displayError]="isFieldValid('aboutus',form)" errorMsg="field is required">
            </app-field-error-display>
          </div>

          <div class="col-md-12">
            <br>
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" formControlName="title">
            <app-field-error-display [displayError]="isFieldValid('title',form)" errorMsg="field is required">
            </app-field-error-display>
          </div>

          <!-- <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <br><br>
                <label for="areas">Dispaching via areas</label>
                <p-checkbox [(ngModel)]="dispArea" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
              </div>

              <div class="col-md-6">
                <br><br>
                <label for="problems">Dispaching via problems </label>
                <p-checkbox [(ngModel)]="dispProblem" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
              </div>
            </div>
          </div> -->
        </div>
      </div>

    </div>

    <div class="row">
      <br><br>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" (click)="updateSettings()">Submit</button>
      </div>
    </div>
  </form>
</section>