<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">Orders</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="container">

  <app-search (searchCanceled)="getAllOrders($event)" [hidden]="toggleLoading" (searchValue)="searchByValue($event)"
              [placholder]="' Search By Order number'"></app-search>

  <div [hidden]="toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <!--<div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages [(value)]="bigMessage"></p-messages>
      </div>
    </div>-->
    <app-order-table [orders]="allOrders" [page]="page" (emitAllData)="getAllOrders($event)" (emitSearchedData)="searchByValue($event)" (emitRefresh)="refresh($event)" ></app-order-table>

  </div>
</div>
