.footer-bottom {
    background: #02466b;
    border-top: 1px solid #d9d9d9;
    color: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.widget {
    text-align: center;
    font-size: 14px;
    padding: 22px 0px;
}