<div class="uk-card uk-card-default">

  <!--<div class="row">-->
  <div class="col-md-offset-1 order-r">
    <h4 class="sub-title">Order Report</h4>
  </div>
  <!--</div>-->

  <app-order-filter (filteredOrders)="applyFilter($event)" [type]="'report'" (resetFilter)="getAllOrdersByDis()"
    (orderProgressMode)="applyOrderProgressMode($event)"></app-order-filter>

  <div class="row">
    <div class="col-md-12 table-content">

      <ngx-datatable class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10" [selected]="[]"
        #reportsTable>

        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding:35px">

              <table class="table table-bordered w-100">
                  <colgroup>
                    <col span="1" class="w-25">
                    <col span="1" class="w-75">
                 </colgroup>
                 
                <tbody>
                  <tr>
                    <td class="cell">Dispatcher Name</td>
                    <td>{{row.order.dispatcherName}}</td>
                  </tr>

                  <tr>
                    <td class="cell">Technician Name</td>
                    <td>{{row.order?.technicanName}}</td>
                  </tr>

                  <tr>
                    <td class="cell">Location</td>
                    <td>
                      {{row.order.location?.street}}, {{row.order.location?.block}}, {{row.order.location?.area}},
                      {{row.order.location?.governorate}}
                    </td>
                  </tr>

                  <tr>
                    <td class="cell">Note</td>
                    <td>
                      {{row.order?.note}}
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>

          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="25" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a class="more" [class.datatable-icon-right]="!expanded" pTooltip="Click for more details"
              [class.datatable-icon-down]="expanded" (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.code" name="Code"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="createdDateView" name="Created Date"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.orderStatus.name" name="Status">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.orderType.name" name="Type">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.orderPriority.name" name="Priority">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.orderProblem.name" name="Problem">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120'>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <p class="crop" pTooltip="{{row.order?.customer?.name}}">
              {{row.order?.customer?.name}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="Attachements">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <h5 *ngIf="row.order.orderFiles?.length == 0">No attached files</h5>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="Signature">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank" [href]="row?.order?.signatureContractURL"
              [hidden]="!row.order.signatureContractURL">Signature Image</a>
            <em [hidden]="row.order.signatureContractURL">(Not available)</em>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>

<!--
   gallery
 -->
<p-dialog header="Pictures" [(visible)]="display" modal="modal" width="750" [responsive]="true">
  <p-galleria *ngIf="images" [images]="images" panelWidth="700" panelHeight="300" [showCaption]="false"></p-galleria>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="display=false" label="Close"></button>
  </p-footer>
</p-dialog>