@import "../../../assets/stylesheets/color-theme";

.dispatcher-order-container {
  min-height: 650px;
  //position: relative;
  h4 {
    text-transform: capitalize;
    text-align: center;
  }
}

.orders-section {
  //position: absolute;
  //top: 60px;
  //bottom: 25px;
  //width: 20%;
  height: 650px;
  .orders-overflow-container {
    height: 95%;
    border: 1px solid lightgray;
    overflow-x: hidden;
    text-align: center;
    .order-header {
      background-color: scale_color($mainColor, $lightness: 10%);
      color: white;
      width: 100%;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      h4 {
        color: white;
      }
    }
  }
}

.tec-section {
  //position: absolute;
  //top: 60px;
  //bottom: 25px;
  height: 650px;
  position: relative;
  //width: 75%;
  //left: 24%;
  .bulk-assign-button {
    position: absolute;
    left: 15px;
    //top: 5px;
    display: flex;
    align-items: center;
    .btn {
      width: auto;
    }
  }
  .on-map-check {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5px;
    top: 10px;
    input {
      margin: 0 6px 0 0;
    }
    label {
      margin: 0;
      cursor: pointer;
    }
  }
  .technican-overflow-container {
    overflow: scroll;
    border: 1px solid lightgray;
    height: 95%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    overflow-y: hidden;
    .single-tec {
      display: inline;
      //width: 400px;
      height: 95%;
      margin-right: 10px;
      margin-left: 10px;
      .tec-header {
        background-color: scale_color($mainColor, $lightness: 10%);
        transition: 0.5s all;
        padding-bottom: 7px;
        & > h4 {
          background-color: scale_color($mainColor, $lightness: 10%);
          color: white;
          margin-bottom: 0;
          padding-top: 5px;
          padding-bottom: 5px;
          transition: 0.5s all;
        }
        //.availability-container {
        p {
          margin-bottom: 0;
          text-align: center;
          span {
            color: white;
            font-size: 1.1em;
          }
        }
        //}
      }
      .single-tec-overflow {
        overflow: scroll;
        width: 200px;
        border: 1px solid scale_color($mainColor, $lightness: 10%);
        //width: 100%;
        height: 90%;
        overflow-x: hidden;
        text-align: center;
        transition: 0.5s all;
      }
      .not-available {
        opacity: 0.6;
        transition: 0.5s all;
      }
      & > .not-available {
        & ~ .tec-header {
          opacity: 0.6;
          transition: 0.5s all;
        }
      }
    }
    .map-container {
      height: 100%;
      width: 100%;
      agm-map {
        height: 100%;
        width: 100%;
      }
    }
  }
  .show-overflowX {
    overflow-x: scroll;
  }
  .hide-overflowX {
    overflow-x: hidden;
  }
}

.map-container {
  height: 500px;
  width: 100%;
  position: relative;
  .filter-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $mainColor;
    font-size: 1.75em;
    cursor: pointer;
    z-index: 100000000 !important;
  }
  .filter-body {
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 100000001 !important;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    transition: 0.25s all;
    .filter-tabs {
      margin-top: 35px;
    }
    .close-filter {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .filter-form {
      width: 95%;
      margin: 35px auto 0;
      .filter-form-section {
        height: 85px;
        width: 100%;
        //margin-bottom: 15px;
      }
      label {
        display: block;
      }
    }
    .layers {
      margin: 35px 15px;
      & > div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .full-filter-width {
    width: 300px;
    transition: 0.25s all;
  }
  .zero-filter-width {
    width: 0;
    transition: 0.25s all;
  }
  agm-map {
    height: 90%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 98%;
  }
}

.container {
  margin-right: 15px;
  margin-left: 15px;
}

