.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px;
    color: #242424 !important;
    width: 50%;
    background: none !important;
    border: none !important;
    padding-right: 35px;
    padding-bottom: 10px;
}

.content {
    padding-left: 35px;
    padding-right: 35px;
}

.uk-card {
    padding-top: 10px !important;
}