<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">Estimations</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>


<div class="container">

  <app-search [hideFromTo]="false" (searchCanceled)="getAllEstimations()" [hidden]="toggleLoading"
    (searchValue)="filterEstimations($event)" [placholder]="'Search by customer or phone'"></app-search>

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">
    <div class="row">
      <div class="col-md-10">
      </div>
      <div class="col-md-2 uk-text-right">
        <span (click)="exportCsv()" pTooltip="Export">
          <i class="fa fa-download export"></i>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 content">

        <app-all-estimations-table [estimations]="estimations"></app-all-estimations-table>

      </div>
    </div>
  </div>

</div>
