<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>

<div class="container uk-animation-slide-top-small uk-card-default uk-margin-top" *ngIf="!toggleLoading">

  <ul class="uk-child-width-expand tabs" uk-tab *ngIf="customerId">
    <li class="uk-active" (click)="setActiveTab('info')"><a>Customer Info</a></li>
    <li (click)="setActiveTab('contracts')"><a href="#">Contracts</a></li>
    <li (click)="setActiveTab('orders')"><a href="#">Orders</a></li>
    <li (click)="setActiveTab('calls')"><a href="#">Calls History</a></li>
  </ul>

  <app-add-new-customer [alreadyExisted]="true" *ngIf="!customerId"></app-add-new-customer>
  
  <div *ngIf="customerId">

    <!--/*Customer Info form goes here*/-->

    <app-add-edit-customer *ngIf="activeTab == 'info'"
                           [existedCustomerData]="existedCustomerData"></app-add-edit-customer>

    <app-existed-customer-contracts [id]="customerId"  *ngIf="activeTab == 'contracts'"> </app-existed-customer-contracts>

    <div *ngIf="activeTab == 'orders'" class="uk-card uk-card-default">
      <app-order-table [orders]="existedOrders" [page]="page" (emitAllData)="getOrderDetails($event)"  [isCustomerDetails]="custDetails"></app-order-table>
    </div>

    <div *ngIf="activeTab == 'calls'" class="uk-card uk-card-default">
      <app-call-table [calls]="existedCalls" [page]="page" (emitAllData)="GetCallDetails($event)"   [isCustomerDetails]="custDetails" ></app-call-table>
    </div>
  </div>

</div>
