<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>


<div *ngIf="!toggleLoading" class="estimation-table-container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <ngx-datatable class="material expandable" [rows]="items" [columnMode]="'force'" [columns]="[]"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10">

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false" [headerClass]="center">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='60' prop="no" name="Code" [cellClass]="text-center"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="name" name="Name" [cellClass]="text-center"></ngx-datatable-column>

        <!--<ngx-datatable-column *ngIf="editMode && type == 'estimation'" [width]='120' prop="description"-->
        <!--name="Description"-->
        <!--&gt;</ngx-datatable-column>-->

        <!--<ngx-datatable-column *ngIf="editMode" [width]='60' prop="quantity" name="Available"-->
        <!--[cellClass]="text-center"></ngx-datatable-column>-->

        <!--***********************************************-->
        <!--THE SECTION SWITCH BETWEEN 2 PARTS DEPENDING ON THE EDIT MODE-->
        <!--***********************************************-->

        <ngx-datatable-column *ngIf="editMode" [width]='80' prop="soldQuantity" name="Quantity"
          [cellClass]="text-center">
          <ng-template let-row="row" let-column="column" let-value="row.soldQuantity" ngx-datatable-cell-template>
            <input type="number" step="0.1" [(ngModel)]="row.soldQuantity" (ngModelChange)="calculatePrice(row)"
              onblur="if (this.value == '') {this.value = 0;}" onfocus="if (this.value == 0) {this.value = '';}" min="0"
              value="0" class="form-control">
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]='80' prop="quantity" name="Quantity" *ngIf="!editMode">
        </ngx-datatable-column>

        <!--***********************************************************-->
        <!--***********************************************************-->

        <ngx-datatable-column [width]='60' prop="unitPrice" name="unitPrice" [cellClass]="text-center">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="totalPrice" name="Total price" [cellClass]="text-center">
        </ngx-datatable-column>

        <!--***********************************************-->
        <!--THE SECTION SWITCH BETWEEN 2 PARTS DEPENDING ON THE EDIT MODE-->
        <!--***********************************************-->

        <ngx-datatable-column *ngIf="editMode" [width]='60' prop="margin" name="Margin%" [cellClass]="text-center">
          <ng-template let-row="row" let-column="column" let-value="row.soldQuantity" ngx-datatable-cell-template>
            <input type="number" step="0.1" [(ngModel)]="row.margin" (ngModelChange)="calculatePrice(row)"
              onblur="if (this.value == '') {this.value = 0;}" onfocus="if (this.value == 0) {this.value = '';}" min="0"
              value="0" class="form-control">
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="!editMode" [width]='60' prop="margin" name="Margin%">
        </ngx-datatable-column>
        <!--***********************************************************-->
        <!--***********************************************************-->

        <ngx-datatable-column [width]='150' prop="totalMarginPrice" name="Total price with margin">
          <ng-template let-row="row" let-column="column" let-value="id" ngx-datatable-cell-template>
            {{roundToTwo(row.totalMarginPrice)}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="editMode" [width]='120' prop="id" name="Actions">
          <ng-template let-row="row" let-column="column" let-value="id" ngx-datatable-cell-template>
            <button class="btn btn-danger" (click)="deleteItem(row.no)">
              <i class="fa fa-times" aria-hidden="true"></i>
              Remove
            </button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>

  <div class="row save-totalPrice-section">

    <div class="col-md-offset-1 col-md-1">
      <button type="button" class="btn btn-link" (click)="back()"><i class="fa fa-backward"></i> Back</button>
    </div>

    <div class="col-md-6" *ngIf="type !='contract'">
      <input type="text" disabled class="form-control totalPrice text-center" [(ngModel)]="totalMarginPrice">
    </div>

    <div *ngIf="type == 'estimation'" class="col-md-3">
      <button [disabled]="!totalMarginPrice" class="btn btn-dark button" (click)="postEstimations()">Save Estimation
      </button>
    </div>
    <div *ngIf="type == 'quotation'" class="col-md-1">
      <button class="btn button btn-light" (click)="editEstimation()">Edit</button>
    </div>
    <div *ngIf="type == 'quotation'" class="col-md-2">
      <button class="btn button btn-dark" (click)="postEstimations()">Generate Quotation</button>
    </div>

    <div *ngIf="type == 'editEstimation'" class="col-md-3">
      <button [disabled]="!items.length" class="btn button btn-dark" (click)="postEstimations()">Save</button>
    </div>

    <!--<div *ngIf="type == 'editEstimation'" class="col-md-2">-->
    <!--<button [disabled]="!items.length" class="btn button btn-dark" (click)="routeToAllEstimations()">Confirm</button>-->
    <!--</div>-->

    <div class="col-md-9" *ngIf="type == 'contract'">
      <input type="text" disabled class="form-control totalPrice text-center" [(ngModel)]="totalMarginPrice">
    </div>

  </div>
</div>