/* line 4, estimation-table.component.scss */
.estimation-table-container .save-totalPrice-section {
  margin-top: 35px;
}
/* line 7, estimation-table.component.scss */
.estimation-table-container .save-totalPrice-section .totalPrice {
  cursor: default !important;
  font-size: 2em;
  font-weight: bold;
  color: #02466b;
  height: 50px;
}
/* line 14, estimation-table.component.scss */
.estimation-table-container .save-totalPrice-section button {
  height: 50px;
  width: 100%;
}
