<h3 class="page-title">Customers</h3>

<app-search [hideFromTo]="true" (searchCanceled)="getCustomersAllCustomers($event)" [hideDate]="hideDate"
  [hidden]="toggleLoading" [placholder]="'Search by Customer, CID or phone'" (searchValue)="searchByValue($event)">
</app-search>


<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>

<div class="container" *ngIf="!toggleLoading">
  <div class="row" *ngIf="filteredCustomers?.length > 0">
    <div class="col-md-10 content">
    </div>
    <div class="col-md-2 uk-text-right">
      <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class=row>
    <p *ngIf="filteredCustomers.length == 0 && !toggleLoading" style="padding: 10px;">
      Results not found
    </p>

  </div>
</div>
<div class="container" *ngIf="!toggleLoading && filteredCustomers.length > 0">
  <div *ngIf="!toggleLoading">
    <div class="row">
      <div class="col-md-11">
        <ngx-datatable [offset]="page.pageNumber" [limit]="page.pageSize" [externalPaging]="true"
          (page)='setPage($event)' [count]="totalElements" class="material expandable" [rows]="filteredCustomers"
          [columnMode]="'force'" [columns]="[]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'"
          [scrollbarH]="true">

          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="name" name="Name"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerPhoneBook" name="Phone">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <span style="margin-left: 2px"
                *ngFor="let phone of row.customerPhoneBook; let i =index">{{phone?.phone}}<span
                  *ngIf="i+1 < row.customerPhoneBook.length">,</span></span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='400' prop="locations" name="Address">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <div *ngFor="let location of row.locations; let i = index">
                {{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span
                  *ngIf="i+1 < row.locations"> ,</span>
              </div>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column [width]='100' prop="id" name="Actions">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <i class="fa fa-trash" (click)="deleteCustomer(row)" pTooltip="Delete"></i>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </div>

</div>




<!--<div *ngFor="let location of row.locations; let i = index">-->
<!--{{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span-->
<!--*ngIf="i+1 < row.locations"> ,</span>-->
<!--</div>-->
