<p-growl [(value)]="cornerMessage"></p-growl>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="assign-tec-container">
  <h4 class="sub-title uk-animation-fade" *ngIf="!activeDis">Un-Assigned Technicians</h4>
  <h4 class="sub-title uk-animation-fade" *ngIf="activeDis">Technicians Assigned To <span>{{activeDis?.firstName}}
      {{activeDis?.middleName}}</span>
    <button class="btn-outlined" (click)="getTecs()">View Un-Assigned</button>
  </h4>

  <p-progressSpinner class="loading-spinner" [hidden]="!tecLoading"></p-progressSpinner>

  <div [hidden]="tecLoading" class="tec-container" [dragula]="'tecs-drag'">
    <em *ngIf="!tecs?.length">No Technicians here</em>
    <p (mousedown)="setTecToPost(tec)" class="tec-name" *ngFor="let tec of tecs"><i class="fa fa-arrows"
        aria-hidden="true"></i>
      {{tec?.firstName}} {{tec?.middleName}} <i *ngIf="toggleRemoveTecButtons" class="fa fa-times clickable"
        aria-hidden="true" (click)="removeTec(tec.id)"></i>
    </p>
  </div>

  <h4 class="sub-title dispatcher-title">List of Dispatchers</h4>
  <div class="dispatchers-container">
    <div (mousemove)="setDisToPost(dispatcher)" class="uk-card uk-card-default dispatcher-card" [dragula]="'tecs-drag'"
      (click)="getTecsByDis(dispatcher)" *ngFor="let dispatcher of dispatchers" layout="horizontal">
      <h4>
        {{dispatcher?.firstName}} {{dispatcher?.middleName}}
      </h4>
    </div>
  </div>

</div>