<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn sidenav-item" (click)="toggle($event)">&times;</a>
  <br>
  <a routerLink="./" class="sidenav-item" (click)="toggle($event)">
    <span class="glyphicon glyphicon-home IconMenue"></span>
    Home
  </a>

  <ng-container *ngFor="let item of items">
    <div *ngIf="containsAny(item.roles)">
      <a routerLink="{{item.path}}" class="sidenav-item" (click)="toggle($event)">
        <span class="fa {{item.icon}} IconMenue"></span> {{item.title}}
      </a>
    </div>
  </ng-container>

</div>




<div id="main" class="wrapper">
  <app-header (loggedOut)="reset($event)"></app-header>
  <span *ngIf="menuItemToggle" class="menueIcon" (click)="toggle($event)">&#9776;</span>
  <div class="BackImg">
    <div class="container StaticBack" (click)="resetToggle()">
      <div class="row">
        <div class="col-xs-12">
          <app-alert class="alertInfo"></app-alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>

</div>

<app-footer class="footer"></app-footer>