<div *ngIf="type == 'report' || type == 'order board'" class="beforeFilterTemp"></div>
<form #filterForm="ngForm" class="filter-form" (submit)="applyFilter()">


  <div class="row filter">
    <div class="col-md-3 padding-top-5">
      <label>Status</label>
      <p-multiSelect name="status" [options]="allStatus" [(ngModel)]="filter.status" optionLabel="name"  maxSelectedLabels="1">
      </p-multiSelect>
    </div>

    <div class="col-md-3 padding-top-5">
      <label>Problems</label>
      <p-multiSelect name="problem" [options]="allProblems" [(ngModel)]="filter.problems" optionLabel="name" maxSelectedLabels="1">
      </p-multiSelect>
    </div>

    <div class="col-md-3 padding-top-5" *ngIf="type!='order board'">
      <label>Dispatchers</label>
      <p-multiSelect name="dispatchers" [options]="allDispatchers" [(ngModel)]="filter.dispatchers"
        optionLabel="userName" maxSelectedLabels="1"></p-multiSelect>
    </div>

    <div class="col-md-3 padding-top-5" *ngIf="type!='order board'">
      <label>Technicians</label>
      <p-multiSelect name="tecs" [options]="tecs" [(ngModel)]="filter.tecs" optionLabel="userName" maxSelectedLabels="1"></p-multiSelect>
    </div>

    <div class="col-md-6 padding-top-5">
      <app-date-from-to [startDateLable]="'Created Date Start'" [endDateLable]="'Created Date End'" [required]="false"
        [submitted]="filterForm.submitted" (startDate)="setStartDateFrom($event)" (endDate)="setStartDateTo($event)">
      </app-date-from-to>

    </div>

    <div class="col-md-6 check" *ngIf="type == 'report'">
      <label></label>
      <p-checkbox name="hasOrderProgress" label="Order Progress" [(ngModel)]="filter.hasOrderProgress" binary="true"></p-checkbox>
    </div>

    <div class="col-md-12 text-left row">
      <div class="padding-top-5 col-md-3" >
        <label>Order NO</label>
        <input class="form-control order-no" placeholder="Order NO" name="orderNo" [(ngModel)]="filter.orderNo" type="number">
      </div>
    </div>



  </div>

  <div class="row" *ngIf="!loading">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <button type="button" class="btn btn-primary export" *ngIf="type == 'report'" (click)="exportCsv()"
        [disabled]="!reportOrders.length">Export</button>
      <button type="button" class="btn btn-primary reset" *ngIf="type == 'map'"
        (click)="emitTodayOrders()">Today
        Orders</button>
      <button type="button" class="btn btn-primary reset" *ngIf="type == 'report' || type == 'order board' || type == 'map' "
        (click)="applyResetFilter()">Reset</button>
      <button [disabled]="checkFilter()" type="submit" class="btn btn-primary">Apply Filter</button>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <p-progressSpinner class="loading-spinner" *ngIf="loading"></p-progressSpinner>

  <br>
</form>

