<div class="row center-block">
  <ng-container *ngFor="let item of items" class="division">
    <div [ngClass]="menuClass" class="col-sm-12 col-xs-12 card" *ngIf="containsAny(item.roles)">
      <div class="card-body">
        <a routerLink="{{item.path}}" class="sidenav-item">
          <div class="icon">
            <span class="fa {{item.icon}}"></span>
          </div>
        </a>

        <a routerLink="{{item.path}}" class="sidenav-item">
          <h4 class="title">
            {{item.title}}
          </h4>
        </a>
      </div>
    </div>
  </ng-container>
</div>