
.BackStat {
  width: 100%;
  height: 450px;;
}

.loginForm {
  /*background-color: white;*/
  margin-top: 65px;
  /*border-radius: 2px;*/
  /*border: 1px solid #aaa;*/
  min-height: 180px;
}

.alertMsgs {
  margin-top: 20px;
}

.bluetxt {
  color: rgba(18, 120, 255, 0.91);
}

.SmallTxt {
  font-size: 16px;
  color: #02466b;
}

.LogoutBtn {
  position: absolute;
  top: 32px;
  right: 19px;
}


.card-body{
  margin: .25em;
  font-size: 20px !important;
  cursor: pointer;
  text-align: center;
}

.icon{
 color: #337ab7; 
 font-size: 64px;
}

.icon:hover{
  color: #4da3ee; 
  font-size: 64px;
 }

 .card{
  margin-top: 2em
 }

.title{
  text-decoration: none;
  color: black;
  margin-top: 0px;
}

a:hover{
  text-decoration: none;
}

.division{
  color: black;
  padding: 2em;
  margin-top: 5em;
}