<p-growl [(value)]="cornerMessageContract"></p-growl>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoadingContractSection"></p-progressSpinner>

<div class="uk-padding">
  <div *ngIf="! quotationDetails">

    <div class="form-group" [hidden]="isCustomerDetailsRoute">
      <app-customer-dropdown (customer)="onCustomerChange($event)" *ngIf="! isNewCustomer">
      </app-customer-dropdown>
    </div>

    <button *ngIf="(!customerId || customerId == 'undefined') && !isNewCustomer" class="btn btn-light"
      (click)="toggleNewCustomerForm()">
      Create New
      Customer
    </button>

    <button *ngIf="isNewCustomer" class="btn btn-dark uk-margin-bottom" (click)="toggleNewCustomerForm()">
      Choose Existed
      Customer
    </button>

    <app-add-edit-customer (closeFormNow)="dismissFormNow()" (customerIdValue)="setCustomerId($event)"
      *ngIf="isNewCustomer" [isNewCustomerFromContract]="isNewCustomer"></app-add-edit-customer>
  </div>

  <form #contract="ngForm"
    *ngIf="(!toggleLoadingContractSection && customerId) || (!toggleLoadingContractSection && quotationDetails)"
    (ngSubmit)="contract.valid && generateContract(contract.value)">
    <div class="row">

      <h4 style="padding-left: 15px"> Add Contract For {{selectedCustomer.name}} </h4>
      <hr>

    </div>
    <div class="row">
      <div class=" col-sm-6  col-md-6">
        <div class="form-group">
          <label>Contract Number :<span class="star">*</span></label>
          <input class="form-control" type="text" name="contractNumber" [(ngModel)]="newContract.contractNumber"
            required />
          <em *ngIf="contract.submitted && contract.controls?.contractNumber.invalid">
            <i class="fa fa-exclamation-triangle"></i>This field is required
          </em>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label>Contract Type :<span class="star">*</span></label>
          <select class="form-control" name="fK_ContractType_Id" [(ngModel)]="newContract.fK_ContractType_Id" required>
            <option [value]="undefined" [selected]="true" *ngIf="!newContract?.fK_ContractType_Id">
              --select
              contract
              type--
            </option>
            <option *ngFor="let type of contractTypes" [value]="type.id">{{type.name}}</option>
          </select>
          <em *ngIf="contract.submitted && contract.controls?.fK_ContractType_Id.invalid">
            <i class="fa fa-exclamation-triangle"></i>This field is required
          </em>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label style="display: block">Start Date :<span class="star">*</span></label>
          <p-calendar name="startDate" [(ngModel)]="newContract.startDate" [showIcon]="true" [minDate]="todayDate"
            readonlyInput="true" required="true" dateFormat="dd/mm/yy" (onSelect)="resetEndDate($event)"></p-calendar>

          <em style="display: block" *ngIf="contract.submitted && contract.controls?.startDate.invalid">
            <i class="fa fa-exclamation-triangle"></i>This field is required
          </em>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">

        <div class="form-group">
          <label style="display: block">End Date :<span class="star">*</span></label>
          <p-calendar name="endDate" [(ngModel)]="newContract.endDate" [showIcon]="true" readonlyInput="true"
            [minDate]="newContract.startDate" [disabled]="!newContract.startDate" required="true" dateFormat="dd/mm/yy"
            (onSelect)="validateEndDate($event)">
          </p-calendar>
          <em style="display: block" *ngIf="contract.submitted && contract.controls?.endDate.invalid">
            <i class="fa fa-exclamation-triangle"></i>This field is required
          </em>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group uk-margin-bottom price-section">
          <label style="display: block">Value :<span class="star">*</span></label>
          <p-spinner type="text" [min]="0" [step]="0.01" [(ngModel)]="newContract.price" name="price" required="true"
            placeholder="Value"></p-spinner>
          <em style="display: block" *ngIf="contract.submitted && contract.controls?.price.invalid">
            <i class="fa fa-exclamation-triangle"></i>This field is required
          </em>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">

        <div class="form-group">
          <label style="display: block"> Preventive Maintenance </label>
          <input type="checkbox" [checked]="newContract?.HasPreventiveMaintainence" name="HasPreventiveMaintainence"
            [(ngModel)]="newContract.HasPreventiveMaintainence">
        </div>


      </div>
    </div>

    <div *ngIf="newContract?.HasPreventiveMaintainence" ngModelGroup="preventiveInfo">
      <div class="row">
        <div class="col-md-6 col-sm-6">

          <div class="form-group">
            <label>Order Priority</label>
            <select [(ngModel)]="newContract.FK_OrderPriority_Id" class="form-control"
              [required]="newContract.HasPreventiveMaintainence" name="fK_OrderPriority_Id">
              <option [value]="undefined" *ngIf="!newContract?.PreventiveInfo?.fK_OrderPriority_Id">
                -- Select Order Priority
                --
              </option>
              <option *ngFor="let orderPriority of orderPriorities" [value]="orderPriority .id">
                {{orderPriority.name}}
              </option>
            </select>
            <em style="display: block"
              *ngIf="contract.submitted && contract.controls?.preventiveInfo.controls?.fK_OrderPriority_Id?.invalid">
              <i class="fa fa-exclamation-triangle"></i>This field is required
            </em>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label>Order Type</label>
            <select [(ngModel)]="newContract.fK_OrderType_Id" class="form-control"
              [required]="newContract?.HasPreventiveMaintainence" name="fK_OrderType_Id">
              <option [value]="undefined" *ngIf="!newContract?.PreventiveInfo?.fK_OrderType_Id">
                -- Select Order Type --
              </option>
              <option *ngFor="let orderType of orderTypes" [value]="orderType.id">
                {{orderType.name}}
              </option>
            </select>
            <em style="display: block"
              *ngIf="contract.submitted && contract.controls?.preventiveInfo.controls?.fK_OrderType_Id?.invalid">
              <i class="fa fa-exclamation-triangle"></i>This field is required
            </em>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">

          <div class="form-group">
            <label>Problem Type</label>
            <select [required]="newContract?.HasPreventiveMaintainence" [(ngModel)]="newContract.fK_OrderProblem_Id"
              class="form-control" name="fK_OrderProblem_Id">
              <option [value]="undefined" *ngIf="!newContract?.PreventiveInfo?.fK_OrderProblem_Id">
                -- Select Problem Type --
              </option>
              <option *ngFor="let problem of problems" [value]="problem.id">
                {{problem.name}}
              </option>
            </select>
            <em style="display: block"
              *ngIf="contract.submitted && contract.controls?.preventiveInfo.controls?.fK_OrderProblem_Id?.invalid">
              <i class="fa fa-exclamation-triangle"></i>This field is required
            </em>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Remarks</label>
            <textarea name="remarks" placeholder="please write any notes if requred..." rows="4"
              [(ngModel)]="newContract.remarks" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Upload Documents</label>
        <p-fileUpload name="contractFiles" [showUploadButton]="false" (onRemove)="remove($event)"
          [showCancelButton]="toggleUploadButtons" customUpload="true" multiple="true" (onSelect)="showAtView($event)"
          maxFileSize="50000000">
        </p-fileUpload>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <button type="submit" class="btn btn-dark uk-margin-top">Generate Contract</button>
      </div>

      <div class="col-md-2 pull-right">
        <button (click)="dismissFormNow()" *ngIf="!quotationDetails" type="button"
          class="btn btn-default uk-margin-top">
          close
        </button>
      </div>
    </div>

  </form>
</div>