.custom-btn {
    font-size: 20px;
    background: none !important;
    color: rgb(75, 75, 75);
}

.custom-btn span:hover {
    background: none !important;
}

.content {
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px;
    color: #242424 !important;
    width: 50%;
    background: none !important;
    border: none !important;
}

i{
    font-size: 18px;
    margin-left: 10px !important;
    cursor: pointer;
}