<p-growl [(value)]="cornerMessage" life="5000"></p-growl>


<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2 uk-text-right">
    <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
      <i class="fa fa-download"></i>
    </button>
  </div>
</div>

<div class="row">


  <div class="col-md-12 content">

    <ngx-datatable [offset]="page.pageNumber"
                   [limit]="page.pageSize" [externalPaging]="true"
                   (page)='setPage($event)' [count]="page.totalElements ? page.totalElements:0" class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [selected]="[]">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="code" name="Order Number"></ngx-datatable-column>

      <!--<ngx-datatable-column [width]='75' prop="contractNumber" name="Contract Nmber"></ngx-datatable-column>-->

      <!--<ngx-datatable-column *ngIf="!isCustomerDetails" [width]='100' prop="customer.name" name="Customer name"></ngx-datatable-column>
      <ngx-datatable-column *ngIf="!isCustomerDetails" [width]='100' prop="call.callerName" name="Caller Name"></ngx-datatable-column>-->
      <ngx-datatable-column *ngIf="!isCustomerDetails" [width]='100' prop="name" name="Name"></ngx-datatable-column>


      <ngx-datatable-column [width]='75' prop="orderProblem.name" name="Order Problem"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderType.name" name="Order Type"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderPriority.name" name="Order Priority"></ngx-datatable-column>

      <ngx-datatable-column [width]='85' prop="startDateView" name="Start Date"></ngx-datatable-column>

      <ngx-datatable-column [width]='85' prop="endDateView" name="End Date"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="price" name="Value"></ngx-datatable-column>

      <ngx-datatable-column [width]='140' name="Actions">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <i class="fa fa-eye" (click)="viewOrderStatus(row)" pTooltip="Show"></i>

          <i class="fa fa-edit" (click)="edit(row)" pTooltip="Edit"></i>

          <i class="fa fa-trash" (click)="deleteOrder(row)" pTooltip="Delete" *ngIf="isAdmin"></i>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>