<p-growl [(value)]="msg" life="5000"></p-growl>
<h3 class="page-title">Generate Quotation</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>


<div *ngIf="!toggleLoading" class="container uk-animation-slide-top-small">

  <div class="uk-card uk-card-default">
    <app-customer-details [customerDetails]="customerDetails"></app-customer-details>
  </div>

  <div class="uk-card uk-card-default">

    <div class="col-md-offset-1">
      <h4 class="sub-title">Items/services</h4>
    </div>
    <app-estimation-table [EstimationRefNumber]="estimationDetails.refNumber" [callId]="customerDetails?.fK_Call_Id" [id]="estimationDetails?.id" [items]="estimationDetails?.lstEstimationItems" [editMode]="false"
                          [type]="'quotation'"></app-estimation-table>

  </div>
</div>
