.add-button {
  margin-top: 10px;
}

.lbl {
  padding-top: 35px;
  padding-right: 50px;
}

button.btn.btn-add {
  width: 100%;
}

.btn-dark {
  background: none;
  color: #242424;
  border: none;
  font-size: 18px;
  width: 25%
}

.btn-dark:hover {
  background: none;
  color: black;
  border: none;
}

.export {
  font-size: 24px;
  color: #242424 !important;
  width: 50%;
  background: none !important;
  border: none !important;
}

.icon {
  font-size: 18px;
  color: #242422;
  cursor: pointer;
  padding-left: 10px;
}

.custom {
  background: none;
  border: none;
  font-size: 18px;
}

.cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}

.ui-tooltip {
  width: 200px;
  height: auto;
  display: inline-block;
}

.ui-tooltip .ui-tooltip-text {
  background-color: #106cc8;
  color: #ffffff;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}