<div class="row">
  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>


  <div class="row" *ngIf="! toggleLoading">
    <div class="col-md-10">
      <h3 class="page-title">Users</h3>
    </div>

    <div class="col-md-2 uk-text-right">

      <button class="btn btn-dark export" (click)="add()" pTooltip="Create new user">
        <i class="fa fa-user-plus"></i>
      </button>

      <button class="btn btn-dark export" (click)="exportCsv()" pTooltip="Export">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <div class="row">

      <div class="col-md-12">
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" name="searchString" placeholder="Type to filter by name ..."
                [(ngModel)]="searchString" (ngModelChange)="filter()" style="height: 40px;" />
              <div class="input-group-addon" (click)="reset()" style="cursor: pointer">
                Reset
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <ngx-datatable class="material expandable uk-animation-slide-top-small" [rows]="users" [columnMode]="'force'"
      [columns]="[]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="15"
      [selected]="[]">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

      <!--<ngx-datatable-column [width]='50' prop="id" name="ID"></ngx-datatable-column>-->

      <ngx-datatable-column [width]="150" prop="name" name="Name">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <p class="cut" title="{{row.name}}">{{row.name}}</p>
             </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="75" prop="phoneNumber" name="Phone"></ngx-datatable-column>

      <ngx-datatable-column [width]="100" prop="userName" name="User Name"></ngx-datatable-column>

      <ngx-datatable-column [width]="100" prop="email" name="Email">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
             <p class="cut" title="{{row.email}}">{{row.email}}</p>
            </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' name="Role">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.roleNames[0]}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="75" prop="id" name="Actions">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="icon" (click)="edit(row)" pTooltip="Edit" class="custom">
            <i class="fa fa-pencil-square-o"></i>
          </button>

          <button class="icon" (click)="changeUserPassword(row)" pTooltip="change password" class="custom">
            <i class="fa fa-key"></i>
          </button>

          <button *ngIf="!row.isLocked" class="icon" (click)="lockUnlock(row,'Lock')" pTooltip="Lock" class="custom">
            <i class="fa fa-unlock" aria-hidden="true"></i>
          </button>

          <button *ngIf="row.isLocked" class="icon" (click)="lockUnlock(row,'Un lock')" pTooltip="Un Lock"
            class="custom">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </button>


          <button class="icon" (click)="remove(row)" pTooltip="Remove" class="custom">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>

        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading">
  <div class="col-md-12">
    <p-accordion>
      <p-accordionTab header="Press to show all users report">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Users</th>
              <td>{{users.length}}</td>
              <th scope="row">Admins</th>
              <td>{{rolesCount.Admin}}</td>
            </tr>
            <tr>
              <th scope="row">CallCenters</th>
              <td>{{rolesCount.CallCenter}}</td>
              <th scope="row">Dispatchers</th>
              <td>{{rolesCount.Dispatcher}}</td>
            </tr>
            <tr>
              <th scope="row">Maintenances</th>
              <td>{{rolesCount.Maintenance}}</td>
              <th scope="row">Supervisors Dispatchers</th>
              <td>{{rolesCount.SupervisorDispatcher}}</td>
            </tr>

            <tr>
              <th scope="row">Technicans</th>
              <td>{{rolesCount.Technican}}</td>
              <th scope="row">Locked users</th>
              <td>{{lockedUnlockedCount.true}}</td>
            </tr>
          </tbody>
        </table>
      </p-accordionTab>
    </p-accordion>

    <br>
    <br>
  </div>
</div>