@import "../../../assets/stylesheets/color-theme";

.search-section {
  margin-bottom: 15px;
  margin-top: 25px;
  .search-form {
    text-align: center;
    .search-bar-container {
      position: relative;
    }
    .cancel-button {
      position: absolute;
      top: 25%;
      left: 25px;
      background-color: lightgray;
      border: none;
      padding: 0 10px;
      height: 50%;
      border-radius: 25px;
      transition: 0.5s all;
      &:hover {
        transition: 0.5s all;
        background-color: lighten($secondaryColor, 25%);
        color: $mainColor;
      }
    }
    .seachBar {
      margin-bottom: 0;
      margin-top: 0;
      display: inline;
      height: 49px;
      text-align: center;
      font-size: 1.3em;
      &::-webkit-input-placeholder {
        text-align: center;
      }
    }
    .btn-add {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      font-size: 1.2em;
      background-color: $secondaryColor;
      color: white;
      border: 2px solid $secondaryColor;
      margin-top: 0;
      transition: 0.5s all;
      &:hover {
        border: 2px solid lightgrey;
        color: white;
        transition: 0.5s all;
      }
    }

  }
  p {
    margin-top: 15px;
    color: red;
    font-size: 1.2em;
  }
}
