<div class="search-section uk-card uk-card-default">
  <div class="row">
    <form #searchForm="ngForm" name="searchForm" class="search-form" novalidate autocomplete="off"
      (submit)="searchForm.valid && outPutSearchValue(searchForm)">
      <div class="search-bar-container col-md-10">
        <button (click)="clearSearch()" [hidden]="!searchText" type="button" class="cancel-button"><i
            class="fa fa-close"></i> cancel search
        </button>
        <input type="text" [(ngModel)]="searchText" name="searchText" [placeholder]="placholder"
          class="form-control seachBar">
      </div>

      <div class="col-md-2">
        <button (click)="toggleErrorFlag()" type="submit" class="btn btn-add button"><i class="fa fa-search"
            aria-hidden="true"></i>
          Search
        </button>
      </div>

      <div [hidden]="hideFromTo" *ngIf="hideDate" style="display: block; margin-top: 15px">

        <!--<app-date-from-to [required]="false" [submitted]="submitted"></app-date-from-to>-->
        <div class="col-md-5">
          <label>From Date:</label>
          <input type="date" [(ngModel)]="fromDate" name="fromDate" class="form-control seachBar">
        </div>
        <div class="col-md-5">
          <label>To Date:</label>
          <input type="date" [(ngModel)]="toDate" name="toDate" class="form-control seachBar">
        </div>

        <div class="col-md-2 reset-btn">
          <label></label>
          <button (click)="clearSearch()" type="button" class="btn btn-dark btn-reset" [hidden]="hideFromTo"
><i class="fa fa-trash-o" aria-hidden="true"></i>
            reset
          </button>
        </div>

      </div>


    </form>
  </div>


</div>
