<p-growl [(value)]="msg" [life]="5000"></p-growl>

<h3 class="page-title">Generate Order</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div *ngIf="!toggleLoading" class="container uk-animation-slide-top-small">

  <!--<div class="uk-card uk-card-default">-->
    <!--<app-customer-details [customerDetails]="contractDetails.customer"></app-customer-details>-->
  <!--</div>-->

  <div class="uk-card uk-card-default" *ngIf="hideInfo" >

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4 class="sub-title">Contract details</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4>Contract Number: {{contractDetails?.contractNumber}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <h4>Start Date at: {{contractDetails?.startDate}}</h4>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <h4>End Date at: {{contractDetails?.endDate}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4>Remarks: {{contractDetails?.remarks || '---'}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4><strong>Price: {{contractDetails?.price}}</strong></h4>
      </div>
    </div>
  </div>

  <div class="uk-card uk-card-default">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4 class="sub-title">Order details</h4>
      </div>
    </div>
    <div class="row">

      <p-progressSpinner class="loading-spinner" *ngIf="toggleOrderSectionLoading"></p-progressSpinner>

      <div class="col-md-offset-1 col-md-10">

        <app-generate-edit-order-form [hidden]="toggleOrderSectionLoading" [isCashCall]="isCashCall" [expired]="expired" [customerId]="customerId" (order)="generateOrder($event)"></app-generate-edit-order-form>

      </div>
    </div>
  </div>
</div>
