.searchPhonepanel {
    background-color: rgba(77, 76, 76, 0.64);
    padding: 35px;
    border-radius: 5px;
}

.searchPhonepanel input {
    width: 85%;
    float: left;
    margin: 9px 0px 0px;
    ;
}

.btn-primary {
    transition: 0.5s all;
}

.searchPhonepanel .searchIcon {
    float: right;
}

.AddUsericon {
    /*top: 15px;*/
    /*height: 100%;*/
    font-size: 1.7em;
    /*display: inline-block;*/
    /*background-image:url(./../../../assets/Images/AddPhone.png);*/
    /*transform: scale(0.7);*/
    color: #02466b;
    padding: 5px;
}

.all-customers {
    width: 85%;
    min-height: 59px;
    border: solid 1px gray;
    border-radius: 5px;
    max-height: 112px;
    overflow-y: scroll;
}

.customElemet {
    background-color: white;
    color: black;
    padding: 6px;
    cursor: pointer;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin: 3px;
}

.customElemet:hover {
    background-color: #E2E2E2;
}

.customElemet .name {
    display: block;
    font-size: 14px;
}

.add-buton {
    vertical-align: middle;
    font-weight: bold;
    width: 100px;
}

.customElemet .phone {
    display: block;
    font-size: 12px;
}

.all-customers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.all-customers::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.all-customers::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #E0E0E0;
}

.txt {
    margin-top: 1em;
}

.sub-title {
    padding-top: 10px;
}

.details {
    font-size: 24px;
    color: #242424;
    cursor: pointer;
}