<div class="container uk-card uk-card-default">

  <div class="row">
    <div class="col-md-offset-1 col-md-10" style="z-index: 0">
      <p-fullCalendar [options]="options" [events]="calenderOrders"  (eventClick)="showOrderDetails($event)"></p-fullCalendar>
    </div>
  </div>

  <div class="row uk-margin-large-top">
    <div class="status-keys">
      <div class="single-status-key" style="margin-right: 25px !important;" *ngFor="let status of statusColors">
        <div class="color-box" [ngStyle]="{'background-color': status.color}"></div>
        <p class="uk-text-center uk-text-capitalize uk-text-bold uk-margin-top">{{status.name}}</p>
      </div>
    </div>
  </div>
</div>
