label {
  color: #000;
}

#action-container {
  text-align: right;
}

#action-container button {
  display: inline-block;
  width: auto;
}

#spinner-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.loading-spinner {
  position: static;
}

.err {
  color: rgb(185, 0, 0);
}

.star {
  color: #c82020;
}

.paciwarning {
  color: #02466b;
}

.asterisk_input::after {
  content: " *";
  color: #e32;
  position: absolute;
  font-size: x-large;
}

.err{
  color: #e32;
}