<div class="container-fluid">
</div>
<form #locationForm="ngForm" name="locationForm">

  <div class="container-fluid">


    <div class="row">

      <p-progressSpinner *ngIf="addresstoggleLoading" class="loading-spinner"></p-progressSpinner>
      <div class="form-group halfInput col-md-6 col-xs-12">
        <label>
          #PACI Number
        </label>
        <input placeholder="#PACI" type="number" (keyup)="OnPaciChanged($event)" (change)="OnPaciChanged($event)"
          [required]="!location?.governorate || !location?.area || !location?.block || !location?.street" name="PACI"
          [(ngModel)]="location.paciNumber" #paciNumber="ngModel" class="form-control" pattern="[0-9]*">

        <div class="err" *ngIf="paciNumber.touched && paciNumber.errors?.pattern"> <i class="fa fa-exclamation-triangle"></i>
          Must be numbers only
        </div>

        <em *ngIf="paciNumberNotFound">
          <i class="fa fa-exclamation-triangle"></i>
          This #PACI Number Not Found Or Try Again
        </em>

        <h5>Please Enter #PACI Number at least 8 Character To Auto Fill Location Details , Or Choose The Site Location
          Details</h5>

      </div>

    </div>
    <div class="row">

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label>Governorate : </label>
        <span class="asterisk_input"> </span>
        <select required [(ngModel)]="location.governorate" [name]="governorate" class="form-control"
          (ngModelChange)="onGovernorateChanged()" #governorate="ngModel">
          <option [value]="undefined">-- Select Governorate --</option>
          <option *ngFor="let t of governorates" [value]="t.name">{{ t.name }}</option>
        </select>
        <span class="err" *ngIf="(isSubmitted || governorate.dirty || governorate.touched)  && governorate.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>


      <div class="form-group halfInput col-md-6 col-xs-12" *ngIf="isPaciareaWork">
        <label>Area : </label>
        <span class="asterisk_input"> </span>
        <select [required]="!location?.paciNumber" [disabled]="!location?.governorate" (ngModelChange)="onAreaChange()"
          [(ngModel)]="location.area" class="form-control" [name]="'area' + i" #area="ngModel">
          <option [value]="undefined">-- Select Area --</option>
          <option *ngFor="let t of location.areas" [value]="t.name">{{ t.name }}</option>
        </select>
        <span class="err" *ngIf="(isSubmitted || area.dirty || area.touched)   && area.invalid ">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12" *ngIf="!isPaciareaWork">
        <label>Area : </label>
        <span class="asterisk_input"> </span>
        <select [required]="!location?.paciNumber" [disabled]="!location?.governorate" (ngModelChange)="onAreaChange()"
          [(ngModel)]="location.area" class="form-control" [name]="'area' + i" #area="ngModel">
          <option [value]="undefined">-- Select Area --</option>
          <option *ngFor="let t of location.areas" [value]="t.name">{{ t.name }}</option>
        </select>
        <span class="err" *ngIf="(isSubmitted || area.dirty || area.touched)   && area.invalid ">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>

    </div>
    <div class="row">

      <div class="form-group halfInput col-md-6 col-xs-12" *ngIf="isPaciBlocksWork">
        <label>Block: </label>
        <span class="asterisk_input"> </span>
        <select [required]="!location?.paciNumber" [disabled]="!location?.area" (ngModelChange)="onBlockChange()"
          [(ngModel)]="location.block" class="form-control" [name]="'block' + i" #block="ngModel">
          <option [value]="undefined">-- Select Block --</option>
          <option *ngFor="let t of location.blocks" [value]="t.name">{{ t.name }}</option>
        </select>
        <span class="err" *ngIf="(isSubmitted || block.dirty || block.touched) && block.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>


      <div class="form-group halfInput col-md-6 col-xs-12" *ngIf="!isPaciBlocksWork">
        <label>Block : </label>
        <span class="asterisk_input"> </span>
        <!--<select [required]="!location?.paciNumber" [disabled]="!location?.area || convertIntoTextInputs"
          (change)="onBlockChange()" [(ngModel)]="location.block" class="form-control" [name]="'block' + i"
          #block="ngModel">
    <option [value]="undefined">-- Select Block --</option>
    <option *ngFor="let t of location.blocks" [value]="t.name">{{ t.name }}</option>
  </select>-->
        <input type="text" (ngModelChange)="onBlockChange()" [(ngModel)]="location.block" class="form-control"
          [name]="'block' + i" #block="ngModel">
        <small class="paciwarning">
          <!--<i class="fa fa-exclamation-triangle"></i>-->
          No Blocks On Paci For This Area Please enter it Manualy
        </small>
      </div>


      <div class="form-group halfInput col-md-6 col-xs-12" *ngIf="isPaciStreetWork">
        <label>Street: </label>
        <span class="asterisk_input"> </span>
        <select [required]="!location?.paciNumber" [disabled]="!location?.block" [(ngModel)]="location.street"
          class="form-control" [name]="'street' + i" (ngModelChange)="onStreetChange()" #street="ngModel">
          <option [value]="undefined"> -- Select Street --</option>
          <option *ngFor="let t of location.streets" [value]="t.name">{{ t.name }}</option>
        </select>




        <span class="err" *ngIf="(isSubmitted || (street.dirty || street.touched))  && street.invalid ">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12" *ngIf="!isPaciStreetWork">
        <label>Street: </label>
        <span class="asterisk_input"> </span>
        <!--<select [required]="!location?.paciNumber" [disabled]="!location?.block || convertIntoTextInputs"
                [(ngModel)]="location.street" class="form-control" [name]="'street' + i"
                (change)="locationChanged.emit(location)" #street="ngModel">
          <option [value]="undefined"> -- Select Street --</option>
          <option *ngFor="let t of location.streets" [value]="t.name">{{ t.name }}</option>
        </select>-->
        <input [(ngModel)]="location.street" class="form-control" [name]="'street' + i"
          (ngModelChange)="onStreetChange()" #street="ngModel">


        <small class="paciwarning" style="color: red">
          <!--<i class="fa fa-exclamation-triangle"></i>-->
          No Streets On Paci For This Block Please enter it Manualy
        </small>
      </div>
    </div>
    <div class="row">

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label>Location Title: </label>
        <!--<span class="asterisk_input"> </span>-->
        <input type="text" [name]="'title' + i" [(ngModel)]="location.title" class="form-control"
          placeholder="Title, for example (home)" #locationTitle="ngModel" (ngModelChange)="onLocationTitleChange()" >
        <span class="err"
          *ngIf="(isSubmitted || (locationTitle.dirty || locationTitle.touched))  && locationTitle.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>



      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Building</label>
        <input type="text" [name]="'building' + i" [(ngModel)]="location.building" class="form-control"
          placeholder="enter building " (ngModelChange)="locationChanged.emit(location)">
      </div>
    </div>
    <div class="row">

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Appartment No </label>
        <input type="number" [name]="'appartment' + i" [(ngModel)]="location.appartmentNo" class="form-control"
          placeholder="enter appartment number" (ngModelChange)="locationChanged.emit(location)">
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Floor No </label>
        <input type="number" [name]="'floor' + i" [(ngModel)]="location.floorNo" class="form-control"
          placeholder="enter floor number" (ngModelChange)="locationChanged.emit(location)">
      </div>
    </div>
    <div class="row">

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="house">House No </label>
        <input type="number" [name]="'house' + i" [(ngModel)]="location.houseNo" class="form-control"
          placeholder="enter house number" (ngModelChange)="locationChanged.emit(location)">
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Landmark </label>
        <textarea rows="4" class="form-control" id="note" [name]="'AddressNote' + i" [(ngModel)]="location.addressNote"
          placeholder="Add note ..." (ngModelChange)="locationChanged.emit(location)">
              </textarea>
      </div>
    </div>
  </div>

  <hr>

  <!--<div class="container-fluid" *ngIf="convertIntoTextInputs">
    <div id="spinner-container" *ngIf="toggleLoading">
      <p-progressSpinner class="loading-spinner"></p-progressSpinner>
    </div>

    <h4 class="err">*PACI# is down please enter data manually</h4>
    <div class="row">
      <div class="form-group halfInput col-md-6 col-xs-12">
        <label>Governorate <span class="text-danger" *ngIf="!location?.paciNumber">*</span></label>
        <select [required]="!location?.paciNumber" [(ngModel)]="location.governorate" [name]="'governorate' + i"
                class="form-control" (change)="onGovernorateChanged()" #governorate="ngModel" required>
          <option [value]="undefined">-- Select Governorate --</option>
          <option *ngFor="let t of governorates" [value]="t.name">{{ t.name }}</option>
        </select>
        <span class="err" *ngIf="locationForm.submitted && governorate.invalid && paciNumber.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label>Area <span class="text-danger" *ngIf="!location?.paciNumber">*</span></label>
        <select [required]="!location?.paciNumber" [disabled]="!location?.governorate" (change)="onAreaChange()"
                [(ngModel)]="location.area" class="form-control" [name]="'area' + i" #area="ngModel" required>
          <option [value]="undefined">-- Select Area --</option>
          <option *ngFor="let t of location.areas" [value]="t.name">{{ t.name }}</option>
        </select>
        <span class="err" *ngIf="locationForm.submitted   && area.invalid && paciNumber.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>
    </div>

    <div class="row">
      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Street </label>
        <input type="text" [name]="'street' + i" [(ngModel)]="location.street" class="form-control"
               placeholder="enter building number" (change)="locationChanged.emit(location)"
               [required]="!location?.paciNumber">

        <span class="err" *ngIf="locationForm.submitted && block.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Block </label>
        <input type="text" [name]="'building' + i" [(ngModel)]="location.block" class="form-control"
               placeholder="enter building number" (change)="blockChanged.emit(location)" [required]="!location?.paciNumber">

        <span class="err" *ngIf="locationForm.submitted && block.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>

      <div class="form-group halfInput col-md-12 col-xs-12">
        <label>Location Title :<span class="text-danger">*</span></label>
        <input type="text" required [name]="'title' + i" [(ngModel)]="location.title" class="form-control"
               placeholder="Title, for example (home)" #locationTitle="ngModel" (change)="onLocationTitleChange()">
        <span class="err" *ngIf="locationForm.submitted && locationTitle.invalid">
          <i class="fa fa-exclamation-triangle"></i>
          This field is required
        </span>
      </div>
    </div>

    <div class="row">
      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Building </label>
        <input type="text" [name]="'building' + i" [(ngModel)]="location.building" class="form-control"
               placeholder="enter building number" (change)="locationChanged.emit(location)">
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Appartment No </label>
        <input type="number" [name]="'title' + i" [(ngModel)]="location.appartmentNo" class="form-control"
               placeholder="enter appartment number" (change)="locationChanged.emit(location)" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">Floor No </label>
        <input type="number" [name]="'title' + i" [(ngModel)]="location.floorNo" class="form-control"
               placeholder="enter floor number" (change)="locationChanged.emit(location)">
      </div>

      <div class="form-group halfInput col-md-6 col-xs-12">
        <label for="note">House No </label>
        <input type="number" [name]="'title' + i" [(ngModel)]="location.houseNo" class="form-control"
               placeholder="enter house number" (change)="locationChanged.emit(location)">
      </div>
    </div>

    <div class="row">
      <div class="form-group halfInput col-md-12 col-xs-12">
        <label for="note">Address Note </label>
        <textarea rows="4" class="form-control" id="note" [name]="'AddressNote' + i" [(ngModel)]="location.addressNote"
                  placeholder="Add note ..." (change)="locationChanged.emit(location)" required>
          </textarea>
      </div>
    </div>

  </div>-->
</form>
