
.BackStat{
    width: 100%;
    height:410px;;
}

.loginForm{
    background-color: white;
    margin-top: 65px;
  border-radius: 2px;
}

.alertMsgs{
   margin-top: 20px;
}
.StaticBack {
  /* background-color: rgba(0,0,0,0.6); */
  min-height: 445px;
}

.alertInfo {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: 1500;
  width: 30%;
}

.BackImg {
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(./../assets/Images/BackGround2.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
  background-color: rgb(248, 248, 248);
  color: white;
  padding-bottom: 50px;
}

.mt-20 {
  margin-top: 20px;
}

/* ------------------ Side Menue ---------------- */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #02466b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: block;
    transition: 0.3s;
  }

    .sidenav a:not(:first-child):hover {
      color: #818181;
      background-color: aliceblue;
      width: 250px;
    }

.sidenav-item {
  text-transform: uppercase;
}

.sidenav a:not(:first-child) {
  width: 250px;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  left: 4px;
  font-size: 36px;
}

#main {
  transition: margin-right .5s;
  padding: 0px;
}

.menueIcon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  cursor: pointe;
  color: #02466b;
}

.IconMenue {
  margin: 0px 10px;
}

.mtb-10 {
  margin: 10px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

    .sidenav a {
      font-size: 18px;
    }
}

.form-control[disabled] {
  cursor: default;
}


.spinner {
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background: #000;
  opacity: 0.6;
  transition: opacity 0.3s linear;
}

.center {
  margin: auto;
  width: 100%;
}

.loading-text {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  color: #FFF;
  font-family: sans-serif;
  background: transparent;
  text-align: center;
  padding-top: 33%;
}

.spinner img {
  position: fixed;
  padding: 0px;
  /* height: 100%;
    width: 100%;
    top: 0;
    left: 0; */
  z-index: 10;
  background: #000;
  opacity: 0.6;
  transition: opacity 0.3s linear;
}

.spinner div {
  margin: auto;
  width: 100% !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
  visibility: visible;
}

.lds-roller {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 100% !important;
  height: 64px;
  left: 48%;
  top: 47%;
}

  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
    margin: auto;
    width: 100%;
  }

    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      margin: -3px 0 0 -3px;
    }

    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }

      .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px;
      }

    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }

      .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px;
      }

    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }

      .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px;
      }

    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }

      .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px;
      }

    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }

      .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px;
      }

    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }

      .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px;
      }

    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }

      .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px;
      }

    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }

      .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px;
      }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-spinner-text {
  font-size: 26px;
}

.loading-spinner-text {
  font-size: 26px;
}

.set-err{
  color: red;
  border-bottom: 5px solid red;
}