<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading">

  <div class="row">
    <p-dataTable [rows]="10" #dt [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      [value]="disWithProbs">
      <p-column header="Name">
        <ng-template let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top" pTooltip="{{row?.dispatcher?.userName}}">
            {{row?.dispatcher?.userName}}</h4>
        </ng-template>
      </p-column>

      <p-column header="Areas" *ngIf="settings.dispArea">
        <ng-template let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top" pTooltip="{{row?.areas}}">
            {{row?.areas | slice:0:5}}...
          </h4>
        </ng-template>
      </p-column>

      <p-column header="Proplems" *ngIf="settings.dispProblem">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top" pTooltip="{{row?.selectedProplemNames}}">
            {{row?.selectedProplemNames | slice:0:5}}...
          </h4>
        </ng-template>
      </p-column>

      <p-column header="Actions">
        <ng-template let-row="rowData" pTemplate="body">
          <i class="fa fa-edit" [hidden]="row?.orderProblem?.name == '-'" (click)="openEditModal(row)"></i>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>