<div class="row">
  <div class="col-xs-12 ">

    <div class="row uk-card uk-card-default uk-animation-slide-top-small">
      <div class="col-xs-12 title">
        <h4 class="mpt-0" *ngIf="!lockForm">
          <i class="AddUsericon glyphicon glyphicon-plus"></i>
          <span class="AlignSup">Add new Call</span>
        </h4>

        <h4 class="mpt-0" *ngIf="lockForm">
          <i class="AddUsericon glyphicon glyphicon-plus"></i> <span class="AlignSup">Existed Call</span>
        </h4>
      </div>

      <form #form="ngForm" (ngSubmit)="form.valid && postNewCall(form.value)">
        <div *ngIf="selectedTab== 'tab1'" class="col-xs-12 EditPanel">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Name">Caller Name:</label>
                <span class="asterisk_input"> </span>
                <input type="text" placeholder="Caller Name" [(ngModel)]="newCall.callerName" class="form-control"
                  id="Name" name="callerName" #callerName="ngModel" minlength="3" required [disabled]="lockForm">
                <span class="err"
                  *ngIf="((form.submitted || callerName.dirty || callerName.touched) && callerName.invalid) ">
                  <div *ngIf="callerName.errors.required"> <i class="fa fa-exclamation-triangle"></i>Call name is required
                  </div>
                  <div *ngIf="callerName.errors.minlength"> <i class="fa fa-exclamation-triangle"></i>Caller Name at
                    least (3) chars</div>
                </span>

              </div>
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label for="Name">CID :</label>

                <!--<span class="asterisk_input"> </span>-->
                <input type="number" placeholder="Ex( 156579994444 )" [(ngModel)]="newCall.civilId" class="form-control"
                       id="civilId" name="civilId" #civilId="ngModel"
                       [disabled]="lockForm" >

                <span class="err" *ngIf="((form.submitted || civilId.dirty || civilId.touched) && civilId.invalid) ">
                  <!--<div *ngIf="civilId.errors.required"> <i class="fa fa-exclamation-triangle"></i>CID is required</div>
    <div *ngIf="civilId.errors.pattern"> <i class="fa fa-exclamation-triangle"></i>Must be numbers only
    </div>-->
                  <div *ngIf="civilId.errors.minlength || civilId.errors.maxlength ">
                    <i class="fa fa-exclamation-triangle"></i>Must be 12 number
                  </div>
                </span>
                <small *ngIf="form.submitted && form.controls?.civilId.invalid" class="text-danger ErrorLable">
                  <div *ngIf="phone.errors.required">phone is required</div>
                  CID is required and Must be 12 number
                </small>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="Type">Call Type:</label>
                <select [(ngModel)]="newCall.fK_CallType_Id" [disabled]="lockForm" class="form-control"
                  name="fK_CallType_Id" #CustType="ngModel"
                  [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && CustType.invalid }">
                  <option [value]="undefined">-- Select Call Type --</option>
                  <option *ngFor="let t of callTypes" [value]="t.id">{{t.name}}</option>
                </select>

              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="Priority">Call Priority:</label>
                <span class="asterisk_input"> </span>
                <select [(ngModel)]="newCall.fK_CallPriority_Id" class="form-control" name="fk_CallPriority_id"
                  #callPriority="ngModel"
                  [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && callPriority.invalid }" required
                  [disabled]="lockForm || newCall.fK_CallType_Id ==1 ">
                  <option [value]="undefined">-- Select Priorities --</option>
                  <option *ngFor="let t of priorities" [value]="t.id">{{t.name}}</option>
                </select>

                <span class="err"
                  *ngIf="((form.submitted || callPriority.dirty || callPriority.touched) && callPriority.invalid) ">
                  <div *ngIf="callPriority.errors.required"> <i class="fa fa-exclamation-triangle"></i> Call priority is
                    required</div>
                </span>

              </div>
            </div>



          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Phone type:</label>
                <span class="asterisk_input"> </span>
                <select class="form-control" [(ngModel)]="newCall.fK_PhoneType_Id" name="fK_PhoneType_Id"
                  #fK_PhoneType_Id="ngModel" [disabled]="lockForm" required>
                  <option [value]="undefined">-- Select Phone Type --</option>
                  <option *ngFor="let type of phoneTypes" [value]="type.id">{{type.name}}</option>
                </select>

                <span class="err"
                  *ngIf="((form.submitted || fK_PhoneType_Id.dirty || fK_PhoneType_Id.touched) && fK_PhoneType_Id.invalid) ">
                  <div *ngIf="fK_PhoneType_Id.errors.required"> <i class="fa fa-exclamation-triangle"></i>Phone Type is
                    required</div>
                </span>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" *ngFor="let t of TotalPhone ;let i = index" [attr.data-index]="i">
                <label for="phone">Phone:</label>
                <span class="asterisk_input"> </span>
                <input type="text" placeholder="Phone Number" [(ngModel)]="newCall.callerNumber" class="form-control"
                  name="callerNumber" #callerNumber="ngModel" required minlength="8" maxlength="8" pattern="[0-9]*"
                  [disabled]="lockForm">

                <span class="err"
                  *ngIf="((form.submitted || callerNumber.dirty || callerNumber.touched) && callerNumber.invalid) ">
                  <div *ngIf="callerNumber.errors.required"> <i class="fa fa-exclamation-triangle"></i>Phone is required
                  </div>
                  <div *ngIf="callerNumber.errors.pattern"> <i class="fa fa-exclamation-triangle"></i>Must be numbers
                    only</div>
                  <div *ngIf="callerNumber.errors.minlength || callerNumber.errors.maxlength "> <i
                      class="fa fa-exclamation-triangle"></i>Must be 8 number</div>
                </span>


              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="remark">Call notes: </label>
                <span class="asterisk_input"> </span>
                <textarea rows="4" class="form-control" name="customerDescription" placeholder="Call notes"
                  [(ngModel)]="newCall.customerDescription" #customerDescription="ngModel" id="remark"
                  [disabled]="lockForm" required></textarea>

                <span class="err"
                  *ngIf="((form.submitted || customerDescription.dirty || customerDescription.touched) && customerDescription.invalid) ">
                  <div *ngIf="customerDescription.errors.required"> <i class="fa fa-exclamation-triangle"></i>Call Notes
                    Is Required</div>
                </span>
              </div>
            </div>
          </div>

          <h4>Add New Location</h4>
          <div class="row">
            <!--<div class="col-xs-12">
              <h5>please enter a PACI# ,or choose the site location details</h5>
            </div>-->

            <app-customer-address   [addresstoggleLoading]="toggleLoading" [isSubmitted]="form.submitted" [location]="newCall" [governorates]="Governorates" 
                                  [viewValidation]="viewValidation" (locationChanged)="onLocationChange(newCall)"
                                  [convertIntoTextInputs]="convertIntoTextInputs" [paciStatus]="paciStatus"   [fetchPreviousData]="newCall">
            </app-customer-address>
            <div class="col-xs-12 col-md-12 mt-20">
              <button *ngIf="lockForm" type="button" class="btn btn-primary centerBtn" (click)="routeToLogs()">
                View Actions
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
              <button *ngIf="!lockForm" [disabled]="isSaving" type="submit" class="btn btn-primary centerBtn">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>

    </div>


  </div>
</div>
