<p-growl [(value)]="cornerMessage" life="5000"></p-growl>
<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2 uk-text-right">
    <span (click)="exportCsv()" pTooltip="Export">
      <i class="fa fa-download export"></i>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 content">

    <div class="fil-con">
      <!-- <input type="text" class="form-control fil" placeholder="Type to filter by status ..."
        (keyup)="updateFilter($event)" /> -->

      <div class="row">
        <div class="col-md-9">
          <select (change)="updateFilter($event.target.value)" class="form-control fil" [(ngModel)]="selectedElement">
            <option disabled value="Filter by status">Filter by status</option>
            <option *ngFor="let status of statuses" value="{{status.name}}">
              {{status.name}}
            </option>
          </select>

        </div>

        <div class="col-md-3">
          <button type="button" class="btn btn-link" (click)="reset()" pTooltip="reset filter">Reset</button>
        </div>
      </div>


    </div>


    <ngx-datatable [offset]="page.pageNumber" [limit]="page.pageSize?page.pageSize:0" (page)='setPage($event)'
                   [count]="count ? count:0" [externalPaging]="true" class="material expandable" [rows]="calls"
                   [columnMode]="'force'" [columns]="[]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'"
                   [scrollbarH]="true" [selected]="[]">
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>

      <!--<ngx-datatable-column [width]='60' prop="id" name="ID"></ngx-datatable-column>-->

      <ngx-datatable-column *ngIf="!isCustomerDetails" [width]='90' prop="callerName" name="Caller Name"></ngx-datatable-column>
      <ngx-datatable-column *ngIf="!isCustomerDetails" [width]='90' prop="civilId" name="CID"></ngx-datatable-column>

      <ngx-datatable-column [width]='350' prop="area" name="Address">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <p pTooltip="{{row.block}} {{row.street}},{{row.area}},{{row.governorate}}">
            {{row.block}} {{row.street}},{{row.area}},{{row.governorate}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="callerNumber" name="Caller Number"></ngx-datatable-column>

      <ngx-datatable-column [width]='90' prop="callStatus" name="Call Status">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <p pTooltip="{{row.callStatus}}" class="status">
            {{row.callStatus}}
          </p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]='85' prop="callDateView" name="Call  Date"></ngx-datatable-column>


      <!--<ngx-datatable-column [width]='90' prop="callType.name"-->
      <!--name="Call Type"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='150' prop="id" name="Actions">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <i class="fa fa-check" (click)="open(row,content)" pTooltip="Add action"></i>

          <i class="fa fa-list" (click)="routeToLogs(row.id)" pTooltip="Logs"></i>

          <i *ngIf="!roles.includes('Maintenance')" class="fa fa-cog" (click)="routeToGenerateOrder(row.id)"
             pTooltip="Generate order"></i>

          <i class="fa fa-address-card" (click)="convertToCustomer(row)" pTooltip="Convert to customer"
             *ngIf="!roles.includes('Maintenance') &&  row.fK_Customer_Id == 0"></i>

          <i class="fa fa-ban" pTooltip="Customer"
             *ngIf="!roles.includes('Maintenance') &&  row.fK_Customer_Id !=0 "></i>

        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column *ngIf="roles.includes('Maintenance')" [width]='150' prop="id" name="Actions">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>


          <a *ngIf="!row.hasEstimation" class="btn" pTooltip="New Estimation" (click)="roueToNewEstimation(row.id)">
            <i class="fa fa-plus-circle"></i>
          </a>

          <a *ngIf="row.hasEstimation" class="btn">
            {{row.estimationRefNo}}
          </a>

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>


<!--MODAL BOOTSTRAP ANGULAR 2-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>New Action</h4>
  </div>

  <form #actionForm="ngForm" name="actionForm" autocomplete="off" (ngSubmit)="actionForm.valid && c(actionForm.value)">
    <div class="modal-body">
      <div class="form-group halfInput">
        <label>status</label>
        <select class="form-control" name="fk_CallStatus_Id" [(ngModel)]="newAction.fk_callStatus_id" required>
          <option *ngIf="!newAction.fk_CallStatus_Id" [value]="undefined" [selected]="true">--Choose Status--</option>
          <option *ngFor="let status of statuses" [value]="status.id">{{status?.name}}</option>
        </select>
        <em *ngIf="actionForm.submitted && actionForm.controls?.fk_CallStatus_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i> This field required
        </em>
      </div>

      <div class="form-group halfInput">
        <label>Description</label>
        <textarea class="form-control" rows="4" name="customerServiceComment"
          (ngModel)="newAction.customerServiceComment" required></textarea>
        <em *ngIf="actionForm.submitted && actionForm.controls?.customerServiceComment.invalid">
          <i class="fa fa-exclamation-triangle"></i> This field required
        </em>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>
