.content {
    padding: 30px;
}

.remove {
    background: none;
    color: rgb(206, 0, 0);
}

.generate {
    background: none;
    color: rgb(13, 112, 0);
}

.custom-btn {
    font-size: 20px;
    background: none !important;
    color: rgb(114, 114, 114);
}

.custom-btn span:hover {
    background: none !important;
}

.custom-btn:hover {
    color: black !important;
}

.expired-contract {
    background-color: red;
}

.add {
    background: none;
    color: blue;
}

.content {
    padding: 20px;
}

.btn-dark {
    background: none;
    color: #242424;
    border: none;
    font-size: 18px;
    width: 25%
}

.btn-dark:hover {
    background: none;
    color: black;
    border: none;
}

.export {
    font-size: 24px;
    color: #242424 !important;
    width: 50%;
    background: none !important;
    border: none !important;
}

i{
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}