$mainColor: #02466b;
$secondaryColor: #f28a2c;
$accentColor: rgba(18, 120, 255, 0.91);
$borderColor: rgb(240, 240, 240);
$backgroundColor: #fff;

@mixin card {
  box-sizing: border-box;
  border: 2px solid lightgray;
  position: relative;
  background-color: white;
  border-radius: 2px;
  padding-top: 25px;
  padding-bottom: 20px;
  box-shadow: 0 0 0 0 black;
  //margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.5s all;
  &:hover {
    box-shadow: 0 0 25px 0 black;
    transition: 0.5s all;
  }
}
